<h1 class="text-center">Category Item Seeder</h1>
<h4 class="text-center">Please note, there are no success messages, fields will clear on success</h4>
	<div class="form-horizontal">
		<div class="form-group has-feedback">
			<label class="col-sm-3 control-label">Name</label>
			<div class="col-sm-6">
				{{input type="text" value=name class="form-control" placeholder="Name of new item"}}
				{{!-- {{#if item.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}} --}}
			</div>
		</div>
		<div class="form-group has-feedback">
			<label class="col-sm-3 control-label">Category</label>
			<div class="col-sm-6">
				<select onchange={{action "selectCat" value="target.value"}} class="form-control">
    				<option value="" selected="selected">Select a category</option>
				  {{#each model.category as |cat|}}
				    <option value={{cat.id}}>{{cat.name}}</option>
				  {{/each}}
				</select>
			</div>
		</div>
		<div class="form-group has-feedback">
			<label class="col-sm-3 control-label">Vendor</label>
			<div class="col-sm-6">
				<select onchange={{action "selectVndr" value="target.value"}} class="form-control">
				  <option value="" selected="selected">Select a vendor</option>
				  {{#each model.vendor as |vndr|}}
				    <option value={{vndr.id}}>{{vndr.name}}</option>
				  {{/each}}
				</select>
			</div>
		</div>	
		<div class="form-group has-feedback">
			<label class="col-sm-3 control-label">Image URL</label>
			<div class="col-sm-6">
				{{input type="text" value=imageURL class="form-control" placeholder="URL of image"}}
				{{!-- {{#if item.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}} --}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">

		</div>
		<div class="col-sm-6">
			<button class="btn btn-default" {{action 'createItem'}}>Create new item</button>
		</div>
	</div>