{{!-- <table class="table table-bordered table-striped hideOnMobile">
    <thead style="text-align: center;">
      <tr>
          <th>Full Name</th>
          <th>E-mail</th>
          <th>Contact Number</th>
          <th>+1's</th>
          <th>Attending</th>
          <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {{#each model.guests as |guest|}}
        <tr>
            <td>{{guest.name}}</td>
            <td>{{guest.email}}</td>
            <td>{{guest.cell}}</td>   
            <td>{{guest.guests}}</td>            
      		  <td><input type="checkbox" onclick={{action "checkBox" guest.id}} checked={{guest.rsvp}}></td>
            <td><button class="btn btn-danger" {{action "destroyGuest" guest.id}}>X</button></td>
        </tr>
    {{/each}}

    </tbody>
</table> --}}

<div class="text-center">
  <div class="hideOnMobile container">
    {{#mdl-table content=model.guests as |guest|}}
      {{#mdl-table-col label='Full Name'}}
        {{guest.name}}
      {{/mdl-table-col}}
      {{#mdl-table-col label='E-mail'}}
        {{guest.email}}
      {{/mdl-table-col}}
      {{#mdl-table-col label='Contact Number'}}
        {{guest.cell}}
      {{/mdl-table-col}}
      {{#mdl-table-col label="+1's"}}
        {{guest.guests}}
      {{/mdl-table-col}}
      {{#mdl-table-col label='Attending'}}
        <div style="text-align: center;">
        <input style="margin-left: auto; margin-right: auto;" type="checkbox" onclick={{action "checkBox" guest.id}} checked={{guest.rsvp}}>
        {{!-- {{mdl-checkbox value=guest.rsvp is-checked=guest.rsvp}} --}}
        </div>
        {{!-- <input type="checkbox" > --}}
      {{/mdl-table-col}}
      {{#mdl-table-col label='Delete'}}
        <div style="text-align: center;">
        {{!-- {{mdl-button isRaised=true icon='delete' isMiniFab=true action="destroyGuest" param=guest.id}} --}}
        <a href='' {{action "destroyGuest" guest.id}}><i class="fa fa-times" style="font-size: 24px;" aria-hidden="true"></i></a></div>
        {{!-- <button class="btn btn-danger" {{action "destroyGuest" guest.id}}>X</button> --}}
      {{/mdl-table-col}}
    {{/mdl-table}}
  </div>

 <div class="showOnMobile container">
        {{#each model.guests as |guest|}}
        <div class="pear-profile-card guide-xs-card" style="padding: 5px 8px 15px 5px;">
          <div class="row">
            <div class="col-xs-9">
              <div class="col-xs-offset-4 col-xs-8" style="text-align: left;"><h4><strong>Guest:</strong></h4></div>
            </div>
            <div class="col-xs-3" style="text-align: right; height: 40px;">
              <a href='' {{action "destroyGuest" guest.id}}><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
          </div>
          

          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <div class="col-xs-9" style="text-align: left;">{{guest.name}}</div>

            <div class="col-xs-3">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </div>
            <div class="col-xs-9" style="text-align: left;">{{guest.email}}</div>

            <div class="col-xs-3">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="col-xs-9" style="text-align: left;">{{guest.cell}}</div>

            <div class="col-xs-3">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            </div>
            <div class="col-xs-9" style="text-align: left;">Guests: {{guest.guests}}</div>

            <div class="col-xs-3">
              <i class="fa fa-ticket" aria-hidden="true"></i>
            </div>
            <div class="col-xs-9" style="text-align: left;">RSVP:   <input type="checkbox" onclick={{action "checkBox" guest.id}} checked={{guest.rsvp}}></div>
            
          </div>
        </div>
      {{/each}}
    </div>
</div>