<table class="table table-bordered table-striped">
    <thead style="text-align: center;">
      <tr>
          <th>Full Name</th>
          <th>E-mail</th>
          <th>Contact Number</th>
          <th>+1's</th>
          <th>Attending</th>
          <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {{#each model.guests as |guest|}}
        <tr>
            <td>{{guest.name}}</td>
            <td>{{guest.email}}</td>
            <td>{{guest.cell}}</td>   
            <td>{{guest.guests}}</td>            
      		  <td><input type="checkbox" onclick={{action "checkBox" guest.id}} value={{guest.rsvp}}></td>
            <td><button class="btn btn-danger" {{action "destroyGuest" guest.id}}>X</button></td>
        </tr>
    {{/each}}

    </tbody>
</table>