<div class="container-fluid">
   {{!-- {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}} --}}
    <h1 class="font-times-header" style="color: #4C4C4E;">Budget Calculator</h1>
    <p style="font-style: italic; text-align: center;">Add your total budget amount. Your estimated spend will be automatically calculated for you. Simply click on any entry to edit this and record your actual spend on booked items.</p>
    {{!-- <hr> --}}

    <div style="padding-bottom:60px; padding-top: 40px;">

	    <div class="container pear-profile-card" style="padding: 30px 20px 50px 20px; position: relative;">
		    	<div class="col-sm-8">
				    <h4 class="font-times-header" style="color: #4C4C4E; text-align: left;">Apparel</h4>
				    <hr class="budget-hr">

		    		<div class="budget-left">
		                    
	                </div>
	                <div class="budget-mid">
	                	<strong>ESTIMATE</strong>
	                </div>
	                <div class="budget-mid">
	                	<strong>BOOKED</strong>
	                </div>
					{{#each budgetApparel as |item|}}
						<div class="budget-item" {{action "selectBudget" item.id 'categoryApparel'}}>
			                <div class="budget-left">
			                    {{item.name}}
			                </div>
			                <div class="budget-mid">
			                	R{{item.estimate}}
			                </div>
			                <div class="budget-mid">
			                	R{{item.booked}}
			                </div>
							<hr style="margin-top: 8px; margin-bottom: 0px;">
						</div>
					{{/each}}

					<div style="padding-top: 50px;">
					    <h4 class="font-times-header" style="color: #4C4C4E; text-align: left;">Contractors</h4>
					    <hr class="budget-hr">
					</div>

				    {{#each budgetPeople as |item|}}
						<div class="budget-item" {{action "selectBudget" item.id 'categoryPeople'}} >
			                <div class="budget-left">
			                    {{item.name}}
			                </div>
			                <div class="budget-mid">
			                	R{{item.estimate}}
			                </div>
			                <div class="budget-mid">
			                	R{{item.booked}}
			                </div>
							<hr style="margin-top: 8px; margin-bottom: 0px;">
						</div>
					{{/each}}


					<div style="padding-top: 50px;">
					    <h4 class="font-times-header" style="color: #4C4C4E; text-align: left;">Event</h4>
					    <hr class="budget-hr">
					</div>

				    {{#each budgetEvent as |item|}}
						<div class="budget-item" {{action "selectBudget" item.id 'categoryEvent'}}>
			                <div class="budget-left">
			                    {{item.name}}
			                </div>
			                <div class="budget-mid">
			                	R{{item.estimate}}
			                </div>
			                <div class="budget-mid">
			                	R{{item.booked}}
			                </div>
							<hr style="margin-top: 8px; margin-bottom: 0px;">
						</div>
					{{/each}}

					<div style="padding-top: 50px;">
					    <h4 class="font-times-header" style="color: #4C4C4E; text-align: left;">Places</h4>
					    <hr class="budget-hr">
					</div>

				    {{#each budgetPlaces as |item|}}
						<div class="budget-item" {{action "selectBudget" item.id 'categoryPlaces'}}>
			                <div class="budget-left">
			                    {{item.name}}
			                </div>
			                <div class="budget-mid">
			                	R{{item.estimate}}
			                </div>
			                <div class="budget-mid">
			                	R{{item.booked}}
			                </div>
							<hr style="margin-top: 8px; margin-bottom: 0px;">
						</div>
					{{/each}}


					<div style="padding-top: 50px;">
					    <h4 class="font-times-header" style="color: #4C4C4E; text-align: left;">Additional</h4>
					    <hr class="budget-hr">
					</div>

				    {{#each budgetAdditional as |item|}}
						<div class="budget-item" {{action "selectBudget" item.id 'categoryAdditional'}}>
			                <div class="budget-left">
			                    {{item.name}}
			                </div>
			                <div class="budget-mid">
			                	R{{item.estimate}}
			                </div>
			                <div class="budget-mid">
			                	R{{item.booked}}
			                </div>
							<hr style="margin-top: 8px; margin-bottom: 0px;">
						</div>
					{{/each}}
				</div>
				{{!-- <div class="budget-item">

		                <div class="budget-left">
		                    Registrar/Religious Minister
		                </div>
		                <div class="budget-mid">
		                	R5000
		                </div>
		                <div class="budget-mid">
		                	R3000
		                </div>
		                <div class="budget-right">
		                    <div {{action "editTask"}} class="tb-btn">
		                        {{mdl-button icon="create"}}
		                    </div>
		                    <div {{action "destroyTask"}} class="tb-btn">
		                        {{mdl-button icon="delete"}}
		                    </div>
		                </div>
		            </div>
					<hr style="margin-top: 0px; margin-bottom: 0px;">
				</div> --}}
				<div class="col-sm-4">
					<div class="row" style="padding: 24px 10px 40px 10px;">
						<div class="col-sm-6">Used: <strong class="budget-pink">R{{budget.used}}</strong></div>
						<div class="col-sm-6">Total: <strong>R{{budget.total}}</strong></div>	
					</div>								
                    {{#if refresh}}
                        {{#ember-pie session.currentUser.providerData.0.uid}} {{/ember-pie}}
                    {{else}}
	                    {{mdl-spinner}}
	                {{/if}}
                    <div> 
						{{mdl-textfield label='New Budget Total' value=total type="number"}}
                    </div>
                    <div style="text-align: center;"> 
						{{#mdl-button isRaised=true action="saveNewTotal"}}UPDATE{{/mdl-button}}
                    </div>
				</div>

	    </div>

    
    </div>
</div>