<div style="text-align: center" class="container">

      <h1 class="font-times-header" style="color: #4C4C4E;">Guest List</h1>
      <p style="font-style: italic; text-align: center;">Add, edit or remove entries for your guest list. FEATURES COMING SOON: Upload or choose from Bloom templates for your “Save the Date” and “Invite”.</p>
      <br>
      <hr>
   {{!-- {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}} --}}

	    {{!-- <div class="form-group">
	        <div class="col-sm-offset-4 col-sm-4">
		<button class="btn btn-default" style="width:100%" {{action 'showGuestList'}}>View Guest list</button>
	        </div>
	    </div> --}}

    <div class="row" style="margin-top: 60px;">

        <div class="col-sm-8 col-sm-offset-2">
            <div class="col-xs-3">
                {{mdl-button icon="view_list" action=(action "select" "guestList") isRaised=isSelected0 isColored=isSelected0}}
                <a href="#" {{action 'select' 'guestList'}} class="hideOnPhones">
                    <p  class="{{if isSelected0 'pink-text'}}">Guest List</p>
                </a>
            </div>

            <div class="col-xs-3">
                {{mdl-button icon="person_add" action=(action "select" "addGuests") isRaised=isSelected1 isColored=isSelected1}}
                <a href="#" {{action 'select' 'addGuests'}} class="hideOnPhones">
                    <p class="{{if isSelected1 'pink-text'}}">Add Guests</p>
                </a>
            </div>

            <div class="col-xs-3">
                {{mdl-button icon="insert_invitation" action=(action "select" "saveTheDate") isRaised=isSelected2 isColored=isSelected2}}
                <a href="#" {{action 'select' 'saveTheDate'}} class="hideOnPhones">
                    <p class="{{if isSelected2 'pink-text'}}">Save-the-date</p>
                </a>
            </div>

            <div class="col-xs-3">
                {{mdl-button icon="mail_outline" action=(action "select" "weddingInvites") isRaised=isSelected3 isColored=isSelected3}}
                <a href="#" {{action 'select' 'weddingInvites'}} class="hideOnPhones">
                    <p class="{{if isSelected3 'pink-text'}}">Wedding Invites</p>
                </a>
            </div>
        </div>
    </div>
    <br><br>

    {{#if isSelected0}}
		{{partial 'index/mywedding/guests/list'}}
    {{else}}
    	{{#if isSelected1}}
			{{partial 'index/mywedding/guests/add'}}
	    {{else}}
	    	{{#if isSelected2}}
	    		{{partial 'index/mywedding/guests/savedate'}}
		    {{else}}
	    		{{partial 'index/mywedding/guests/weddinginvites'}}
		    {{/if}}
	    {{/if}}
    {{/if}}

	{{!-- {{#if showAdd}}
		{{partial 'index/mywedding/guests/add'}}
	{{else}}
		<div class="form-horizontal" style="text-align: center;">
			<div class="form-group">
	        	{{#mdl-button isRaised=true isAccent=true action="showGuestAdd"}}Add Guests <i class="fa fa-user-plus"></i>{{/mdl-button}}
		    </div>
	    </div>
		{{partial 'index/mywedding/guests/list'}}
	{{/if}} --}}
</div>
