<div style="text-align: center">

	{{#if showPartial}}
		{{#if showAdd}}
			{{partial 'index/mywedding/guests/add'}}
		{{else}}
			{{partial 'index/mywedding/guests/list'}}
		{{/if}}

	{{else}}
	<h2>Guest List Menu</h2><br>
	<div class="form-horizontal">
	    <div class="form-group">
	        <div class="col-sm-offset-4 col-sm-4">
		<button class="btn btn-default" style="width:100%" {{action 'showGuestList'}}>View Guest list</button>
	        </div>
	    </div>
	    <div class="form-group">
	        <div class="col-sm-offset-4 col-sm-4">
				<button class="btn btn-default" style="width:100%" {{action 'showGuestAdd'}}>Add Guests</button>
	        </div>
	    </div>
    </div>
    {{/if}}
</div>