<div style="text-align: center">


	    {{!-- <div class="form-group">
	        <div class="col-sm-offset-4 col-sm-4">
		<button class="btn btn-default" style="width:100%" {{action 'showGuestList'}}>View Guest list</button>
	        </div>
	    </div> --}}
	    
	{{#if showAdd}}
		{{partial 'index/mywedding/guests/add'}}
	{{else}}
		<div class="form-horizontal">
			<div class="form-group">
		        <div class="col-sm-offset-4 col-sm-4">
					<button class="btn btn-default" style="width:100%" {{action 'showGuestAdd'}}>Add Guests</button>
		        </div>
		    </div>
	    </div>
		{{partial 'index/mywedding/guests/list'}}
	{{/if}}
</div>