<div style="text-align: center" class="container">

      <h1 class="font-times-header" style="color: #4C4C4E;">Guest List</h1>
      <p style="font-style: italic; text-align: center;">Add, edit or remove entries for your guest list. Features coming soon: Upload or choose from Bloom templates for your “Save the Date” and “Invite”.</p>
      <br>
      <hr>
   {{!-- {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}} --}}

	    {{!-- <div class="form-group">
	        <div class="col-sm-offset-4 col-sm-4">
		<button class="btn btn-default" style="width:100%" {{action 'showGuestList'}}>View Guest list</button>
	        </div>
	    </div> --}}
	    
	{{#if showAdd}}
		{{partial 'index/mywedding/guests/add'}}
	{{else}}
		<div class="form-horizontal" style="text-align: center;">
			<div class="form-group">
	        	{{#mdl-button isRaised=true isAccent=true action="showGuestAdd"}}Add Guests <i class="fa fa-user-plus"></i>{{/mdl-button}}
					{{!-- <button class="btn btn-default" style="width:100%" {{action 'showGuestAdd'}}>Add Guests</button> --}}
		    </div>
	    </div>
		{{partial 'index/mywedding/guests/list'}}
	{{/if}}
</div>