{{#if searchPartial}}
	 {{partial "index/mywedding/innercircle/search"}}
{{else}}
	<h3 class="text-center">Your inner circle</h3><p class="text-center">From your bridal party to your far flung loved ones – add whoever your heart desires, so that they can be a part of your special journey.</p><hr>
	<div class="form-horizontal">
		<div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
			<button class="btn btn-default" style="width:100%" {{action 'showSearchPartial'}}>Add</button>
        </div>
    </div>
  </div>
    {{#each model.innercircle as |stats|}}
	<div class="col-md-4 col-sm-6" style="padding: 5px;">
		<div class="pear-profile-card guide-xs-card" style="padding: 5px 8px 15px 5px;">
			<div class="row">
				<div class="col-xs-9">
					<div class="col-xs-offset-4" style="text-align: center;"><h4><strong>{{stats.name}}:</strong></h4></div>
				</div>
				<div class="col-xs-3" style="text-align: right; height: 40px;">
					<a href='' {{action "removeInnerCircle" stats}}><i class="fa fa-times" aria-hidden="true"></i></a>
				</div>
				<div class="col-xs-5" style="margin-top: 5px;">
					<div class="col-xs-offset-1">
						<p>Height:</p>
						<p>Shoulders:</p>
						<p>Chest:</p>
						<p>Hips:</p>
						<p>Waist:</p>
						<p>Inseam:</p>
						<p>Shoesize:</p>
					</div>
				</div>
				<div class="col-xs-7" style="margin-top:5px">
					<p>{{stats.height}}</p>
					<p>{{stats.shoulders}}</p>
					<p>{{stats.chest}}</p>
					<p>{{stats.hips}}</p>
					<p>{{stats.waist}}</p>
					<p>{{stats.inseam}}</p>
					<p>{{stats.shoesize}}</p>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
{{/if}}
