<div style="padding-bottom:60px;">
	<div class="text-center">
		<h1>My Stats</h1><hr><p style="text-center">Don’t worry about whipping out the tape measure whenever you’re trying stuff on. Your crucial sizes will all be here at the ready.</p>
	</div>
	{{#if model.hasGender}}
	<div class="hideOnMobile">
		<div class="col-sm-6" style="text-align: right;">
			{{#if model.isFemale}}
			<img src="../assets/images/clothing-measurement-f.png" style="height:480px; width:auto">
			{{else}}
			<img src="../assets/images/clothing-measurement-m.png" style="height:480px; width:auto">
			{{/if}}
		</div>
		<div class="col-sm-6 form-horizontal row" style="padding-top:38px;">
			<div class="form-group has-feedback">
				<div class="col-sm-8">
					{{input type="text" value=height class="form-control sm-txt" placeholder="Height"}}
				</div>
			</div>
			{{#if model.isFemale}}
			<div class="form-group has-feedback" style="margin-top:71px;">
				<div class="col-sm-8">
					{{input type="text" value=chest class="form-control sm-txt" placeholder="Chest"}}
				</div>
			</div>
			<div class="form-group has-feedback" style="margin-top:-6px;">
				<div class="col-sm-8">
					{{input type="text" value=waist class="form-control sm-txt" placeholder="Waist"}}
				</div>
			</div>
			<div class="form-group has-feedback" style="margin-top:-2px;">
				<div class="col-sm-8">
					{{input type="text" value=hips class="form-control sm-txt" placeholder="Hips"}}
				</div>
			</div>
			<div class="form-group has-feedback" style="margin-top:75px;">
				<div class="col-sm-8">
					{{input type="text" value=inseam class="form-control sm-txt" placeholder="Inseam"}}
				</div>
			</div>
			<div class="form-group has-feedback" style="margin-top:76px;">
				<div class="col-sm-8">
					{{input type="text" value=shoesize class="form-control sm-txt" placeholder="Shoe Size"}}
				</div>
			</div>
			{{else}}
			<div class="form-group has-feedback" style="margin-top:44px;">
				<div class="col-sm-8">
					{{input type="text" value=shoulders class="form-control sm-txt" placeholder="Shoulders"}}
				</div>
			</div>
			<div class="form-group has-feedback" style="margin-top:-11px;">
				<div class="col-sm-8">
					{{input type="text" value=chest class="form-control sm-txt" placeholder="Chest"}}
				</div>
			</div>
			<div class="form-group has-feedback" style="margin-top:-11px;">
				<div class="col-sm-8">
					{{input type="text" value=waist class="form-control sm-txt" placeholder="Waist"}}
				</div>
			</div>
			<div class="form-group has-feedback" style="margin-top:-11px;">
				<div class="col-sm-8">
					{{input type="text" value=hips class="form-control sm-txt" placeholder="Hips"}}
				</div>
			</div>
			<div class="form-group has-feedback" style="margin-top:64px;">
				<div class="col-sm-8">
					{{input type="text" value=inseam class="form-control sm-txt" placeholder="Inseam"}}
				</div>
			</div>
			<div class="form-group has-feedback" style="margin-top:87px;">
				<div class="col-sm-8">
					{{input type="text" value=shoesize class="form-control sm-txt" placeholder="Shoe Size"}}
				</div>
			</div>

			{{/if}}

	        {{#if responseMessage}}
		      <div class="col-sm-8 alert alert-success text-center" {{action 'closeMessage'}}>{{responseMessage}}
		      <p class="tiny-text text-center">Tap this message to close it</p></div>
		    {{/if}}

				<div class="col-sm-offset-4 col-sm-4">
					<button class="btn btn-success-thin" style="width:100%" {{action 'updateStats'}}>Update</button>
				</div>
		</div>
	</div>

	<div class="showOnMobile text-center">
		<div class="form-group has-feedback">
			<label class="control-label">Height</label>
			{{input type="text" value=height class="form-control sm-txt" placeholder="Height"}}
		</div>
		{{#if model.isFemale}}
		{{else}}
		<div class="form-group has-feedback">
			<label class="control-label">Shoulders</label>
			{{input type="text" value=shoulders class="form-control sm-txt" placeholder="Shoulders"}}
		</div>
		{{/if}}
		<div class="form-group has-feedback">
			<label class="control-label">Chest</label>
			{{input type="text" value=chest class="form-control sm-txt" placeholder="Chest"}}
		</div>
		<div class="form-group has-feedback">
			<label class="control-label">Waist</label>
			{{input type="text" value=waist class="form-control sm-txt" placeholder="Waist"}}
		</div>
		<div class="form-group has-feedback">
			<label class="control-label">Hips</label>
			{{input type="text" value=hips class="form-control sm-txt" placeholder="Hips"}}
		</div>
		<div class="form-group has-feedback">
			<label class="control-label">Inseam</label>
			{{input type="text" value=inseam class="form-control sm-txt" placeholder="Inseam"}}
		</div>
		<div class="form-group has-feedback">
			<label class="control-label">Shoe Size</label>
			{{input type="text" value=shoesize class="form-control sm-txt" placeholder="Shoe Size"}}
		</div>

        {{#if responseMessage}}
	      <div class="col-sm-8 alert alert-success text-center" {{action 'closeMessage'}}>{{responseMessage}}
	      <p class="tiny-text text-center">Tap this message to close it</p></div>
	    {{/if}}

		<div class="form-group has-feedback text-center">
			<button class="btn btn-success-thin" {{action 'updateStats'}}>Update Stats</button>
		</div>
	</div>
	{{else}}
		<div class="text-center">
			<h3>Please pick your gender</h3>
			<div class="col-xs-6 border-box">
                <div class="circle-link" style="float:right; padding-right:20px; cursor:pointer;" {{action 'selectGender' 'female'}}>
                    <div class="circle"><i class="fa fa-venus"></i></div>
                </div>
            </div>
            <div class="col-xs-6 border-box">
                <div class="circle-link" style="float:left; padding-left:20px; cursor:pointer;" {{action 'selectGender' 'male'}}>
                    <div class="circle"><i class="fa fa-mars"></i></div>
                </div>
            </div>
		</div>
	{{/if}}
</div>