<div class="container" style="padding-bottom:60px;">
	<div class="text-center">
		<h1>My Stats</h1><hr>
	</div>
	<div class="hideOnMobile">
		<div class="col-sm-6" style="text-align: right;">
			<img src="../assets/images/clothing-measurement-f.jpg">
		</div>
		<div class="col-sm-6 form-horizontal row" style="padding-top:28px;">
			<div class="form-group has-feedback">
				<div class="col-sm-8">
					{{input type="text" disabled=addingGuest value=name class="form-control sm-txt" placeholder="Height"}}
				</div>
			</div>
			<div class="form-group has-feedback" style="margin-top:43px;">
				<div class="col-sm-8">
					{{input type="text" disabled=addingGuest value=email class="form-control sm-txt" placeholder="Chest"}}
				</div>
			</div>
			<div class="form-group has-feedback" style="margin-top:-13px;">
				<div class="col-sm-8">
					{{input type="text" disabled=addingGuest value=cell class="form-control sm-txt" placeholder="Waist"}}
				</div>
			</div>
			<div class="form-group has-feedback" style="margin-top:-13px;">
				<div class="col-sm-8">
					{{input type="text" disabled=addingGuest value=name class="form-control sm-txt" placeholder="Hips"}}
				</div>
			</div>
			<div class="form-group has-feedback" style="margin-top:45px;">
				<div class="col-sm-8">
					{{input type="text" disabled=addingGuest value=email class="form-control sm-txt" placeholder="Inseam"}}
				</div>
			</div>
			<div class="form-group has-feedback" style="margin-top:51px;">
				<div class="col-sm-8">
					{{input type="text" disabled=addingGuest value=cell class="form-control sm-txt" placeholder="Shoe Size"}}
				</div>
			</div>
		</div>
	</div>

	<div class="showOnMobile text-center">
		<div class="form-group has-feedback">
			<label class="control-label">Height</label>
			{{input type="text" disabled=addingGuest value=name class="form-control sm-txt" placeholder="Height"}}
		</div>
		<div class="form-group has-feedback">
			<label class="control-label">Chest</label>
			{{input type="text" disabled=addingGuest value=email class="form-control sm-txt" placeholder="Chest"}}
		</div>
		<div class="form-group has-feedback">
			<label class="control-label">Waist</label>
			{{input type="text" disabled=addingGuest value=cell class="form-control sm-txt" placeholder="Waist"}}
		</div>
		<div class="form-group has-feedback">
			<label class="control-label">Hips</label>
			{{input type="text" disabled=addingGuest value=name class="form-control sm-txt" placeholder="Hips"}}
		</div>
		<div class="form-group has-feedback">
			<label class="control-label">Inseam</label>
			{{input type="text" disabled=addingGuest value=email class="form-control sm-txt" placeholder="Inseam"}}
		</div>
		<div class="form-group has-feedback">
			<label class="control-label">Shoe Size</label>
			{{input type="text" disabled=addingGuest value=cell class="form-control sm-txt" placeholder="Shoe Size"}}
		</div>
	</div>
</div>