<div class="container-fluid">
   {{!-- {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}} --}}
    <h1 class="font-times-header" style="color: #4C4C4E;">Overview</h1>
    <p style="font-style: italic; text-align: center;">Welcome,&nbsp;<span style="color:#E3B1B7">{{name}}</span></p>
    <hr>

    <div style="padding-bottom:60px;">

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="pear-profile-card guide-xs-card overview-block" id="overview-card-1">
                    <div class="overview-sm-block" style="background-image: url(../assets/images/overview2.jpg)">
                        <div class="overlay-green">
                        </div>

                    </div>
                    <div class="overview-white-text">

                        {{#if selectedDate}}
                            <p style="font-size: 72px; padding-top: 30px; font-weight: 600;">{{daysNum}}</p>
                            <p style="padding-top: 15px;">{{daysString}}</p>
                            <p style="font-size: 30px; padding-top: 20px; font-weight: 600;">{{dateComputed}}</p>
                            <p>Wedding Date</p>
                        {{else}}
                            <p style="font-size: 24px; padding-top: 100px;">Please select your wedding date :)</p>
                        {{/if}}

                        <div class="overview-box-bottom {{if selectedDate "padding-25" "padding-75"}}">
                            {{#md-datepicker placeholder="Pick your wedding date" selectedDate=selectedDate dateChanged="dateChanged" minDate=dateCurrent}} {{/md-datepicker}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="pear-profile-card guide-xs-card overview-block" id="overview-card-2">

                    <div class="overview-md-block">
                        <h5>Personal Information</h5>

                        <div style="padding-top: 10px;">
                            <div class="col-xs-2 overview-info"><i class="material-icons">favorite</i></div>
                            <div class="col-xs-10 overview-info">{{spouse}}</div>
                            <div class="col-xs-2 overview-info"><i class="material-icons">mail_outline</i></div>
                            <div class="col-xs-10 overview-info">{{email}}</div>
                            <div class="col-xs-2 overview-info"><i class="material-icons">call</i></div>
                            <div class="col-xs-10 overview-info">{{cell}}</div>
                            <div class="col-xs-2 overview-info"><i class="material-icons">place</i></div>
                            <div class="col-xs-10 overview-info">{{city}}</div>
                            <div class="col-xs-2 overview-info"><i class="material-icons">cake</i></div>
                            <div class="col-xs-10 overview-info">{{#if birthday}}{{birthdayComputed}}{{/if}}</div>
                        </div>

                        <div class="overlay-box-bottom-sm">
                            {{#link-to 'myaccount'}}{{mdl-button text="Edit Account"}}{{/link-to}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                {{#link-to 'listings'}}<div class="pear-profile-card guide-xs-card overview-block" id="overview-card-3">
                    <div class="overview-lg-block" style="background-image: url(../assets/images/overview3.jpg)">
                        <div class="overlay-pink">
                        </div>

                    </div>
                    <div class="overview-white-text" style="padding-top: 100px;">
                        <h4>Explore Suppliers</h4>
                        <div style="position: absolute; width: 100%; height: 50px; bottom: 10px; text-align: center">
                            <p>Find everything you need for your big day!</p>
                        </div>
                    </div>
                </div>{{/link-to}}
            </div>
            <div class="overview-padding">
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pear-profile-card guide-xs-card overview-block" id="overview-card-4">
                    <div class="overview-sm-block" style="background-image: url(../assets/images/overview1.jpg)">
                        <div class="overlay-pink">

                        </div>
                    </div>
                    <div class="overview-white-text">
                        {{#guest-counter session.currentUser.providerData.0._uid}}{{/guest-counter}}
                        <p style="padding-top: 20px;">Attending</p>
                        <p style="font-size: 60px; font-weight: 600;">{{model.guestsAttending}}</p>
                        <p style="padding-top: 20px;">Invited</p>
                        <p style="font-size: 60px; font-weight: 600;">{{model.guestsTotal}}</p>

                        <div class="overview-box-bottom" style="text-align: center !important; padding-top: 60px;">
                            {{#link-to 'index.mywedding.guests'}}{{mdl-button text="Guest List"}}{{/link-to}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pear-profile-card guide-xs-card overview-block" id="overview-card-5">
                    <div class="overview-action-add">
                        {{#link-to 'index.mywedding.budget'}}{{mdl-button icon="add_circle"}}{{/link-to}}
                    </div>
                    <div class="overview-md-block">
                        <h5>Budget</h5>
                        <div style="padding-top: 15px; text-align: center;">
                            {{#if model.hasBudget}}
                                {{#if refresh}}
                                    {{#ember-pie session.currentUser.providerData.0._uid}} {{/ember-pie}}
                                {{else}}
                                    {{mdl-spinner}}
                                {{/if}}
                            {{else}}
                                <img src="../assets/images/no-budget.png" style="height: auto; width:70%;">
                            {{/if}}
                        </div>
                        <div style="padding-top: 10px;">
                            {{!-- <div style="width:50%; float: left; padding-left: 25px;">
                                <p>Used:
                                <br><span class="r-bold">Total:</span></p>
                            </div>
                            <div style="width:50%; float: right;">
                                <p>R {{model.budgetUsed}}
                                <br><span class="r-bold">R {{model.budgetTotal}}</span></p>
                            </div> --}}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="pear-profile-card guide-xs-card overview-block todo-widget" id="overview-card-6">
                    {{!-- <div class="overlay-gray">

                    </div> --}}
                    {{!-- <div class="overlay-coming-soon">
                        <p>Coming Soon</p>
                    </div> --}}
                    <div class="overview-action-add">
                       {{#link-to 'index.mywedding.todo'}}{{mdl-button icon="add_circle"}}{{/link-to}}
                    </div>
                    <div class="overview-md-block">
                        <h5>To-Do List</h5>

                        <hr style="margin-top: 20px; margin-bottom: 0px;">

                        {{#if model.tasks}}
                            {{#each model.tasks as |task|}}
                                <div class="todo-item">
                                    <div class="todo-left-sm">
                                        <div {{action "checkBox" task.id}} class="tb-btn">
                                          {{#if task.completed}}
                                            {{mdl-button icon="check_box"}}
                                          {{else}}
                                            {{mdl-button icon="check_box_outline_blank"}}
                                          {{/if}}
                                        </div>
                                    </div>
                                    <div class="todo-middle">
                                        <strong>{{task.title}}</strong>
                                    </div>
                                    <div class="todo-right">
                                        <div {{action "editTask" task.id}} class="tb-btn">
                                            {{mdl-button icon="create"}}
                                        </div>
                                        <div {{action "destroyTask" task.id}} class="tb-btn">
                                            {{mdl-button icon="delete"}}
                                        </div>
                                    </div>
                                </div>
                                <hr style="margin-top: 0px; margin-bottom: 0px;">
                            {{/each}}
                        {{else}}
                            {{!-- <div style="padding-top: 5px; text-align: center;">
                                <img src="../assets/images/no-todo.jpg" style="height: auto; width:100%;">
                            </div> --}}
                            {{#each demoTasks as |task|}}
                                <div class="todo-item">
                                    <div class="todo-left-sm">
                                        <div class="tb-btn">
                                          {{#if task.completed}}
                                            {{mdl-button icon="check_box" disabled=true}}
                                          {{else}}
                                            {{mdl-button icon="check_box_outline_blank" disabled=true}}
                                          {{/if}}
                                        </div>
                                    </div>
                                    <div class="todo-middle">
                                        <strong>{{task.title}}</strong>
                                    </div>
                                    <div class="todo-right">
                                        <div class="tb-btn">
                                            {{mdl-button icon="create" disabled=true}}
                                        </div>
                                        <div class="tb-btn">
                                            {{mdl-button icon="delete" disabled=true}}
                                        </div>
                                    </div>
                                </div>
                                <hr style="margin-top: 0px; margin-bottom: 0px;">
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

            {{!-- {{mdl-button icon="check_box"}}
            {{mdl-button icon="check_box_outline_blank"}} --}}

            {{!-- <div class="row">
            	<div class="col-md-8">
            		<h3>Welcome to your overview</h3>
                     <div class="row">
                        {{#if selectedDate}}
                        <div class="col-sm-12">
                            <h3>{{dayString}}</h3>
                        </div>
                        {{/if}}
                        <div class="col-md-4">
                        {{#md-datepicker placeholder="Pick your wedding date" selectedDate=selectedDate dateChanged="dateChanged" minDate=dateCurrent}} {{/md-datepicker}}
                        </div>
                    </div> --}}
            		{{!-- <p><hr><b> </b><hr>Current Features: </p>
            		<p><i class="fa fa-user-plus" aria-hidden="true"></i> Add guests to your guest list and see the attendance overview on this page.</p>
            		<p><i class="fa fa-users" aria-hidden="true"></i> Add members to your inner circle and view their stats</p>
            		<p><i class="fa fa-female" aria-hidden="true"></i> View and edit your own stats and measurements</p><hr>
                    <p>Features Coming soon: </p>
                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> Chat with suppliers and your inner circle</p>
                    <p><i class="fa fa-tasks" aria-hidden="true"></i> Assign Tasks to your inner circle members</p>
                    <p><i class="fa fa-comments-o" aria-hidden="true"></i> Get feedback on your ideas from your friends</p><hr>

            	</div>
                <div class="col-md-4">
                    <h3 class="text-center">Guest Attendance:</h3>

                    <div class="row pie-label" style="padding-top: 10px;">
                    	<div class="col-xs-6 pie-label-right">
                    		<div class="pie-label-square attending"></div>
                    	</div>
                    	<div class="col-xs-6 pie-label-left">
                    		Used
                    	</div>
                    </div>
                    <div class="row pie-label">
                    	<div class="col-xs-6 pie-label-right">
                    		<div class="pie-label-square not-attending"></div>
                    	</div>
                    	<div class="col-xs-6 pie-label-left">
                    		Remaining
                    	</div>
                    </div>
                    {{mdl-button text="Refresh" action='refreshButton'}}
                </div>
            </div>

        <div class="col-md-6">

        </div>--}}
    </div>
</div>
{{#tour-wedding session.currentUser.providerData.0._uid}} {{/tour-wedding}}
