<div id="usernew" class="index-main" style="padding-top:80px">
  <div class="container">
    <div style="text-align:center;">
        <h1>Finish Creating Your Account</h1>
        <hr>
        <p>We would like some additional information to finish creating your account</p><br>
        <p style="font-style: italic;">This is optional but recommended, you can scroll to the bottom of the page and click confirm for now</p>
    </div>

    <div class="row text-center container-fluid"  style="padding-top: 40px;">
      <div class="form-horizontal form-padding-bottom" style="padding-top: 20px;">
        <i class="fa fa-envelope-o i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Email Address' value=model.email}}
        <i class="fa fa-phone i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Contact number' value=model.cell}}<br>
        <i class="fa fa-map-marker i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Physical Address' value=model.addressL1}}
        <i class="fa fa-home i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='City' value=model.city}}<br>
        <i class="fa fa-map-o i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Postal Code' value=model.postalcode}}
        <i class="fa fa-globe i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Country' value="South Africa" disabled=true}}<br>
      </div>
      <div style="padding: 20px 0px 40px 0px;">
        {{mdl-button isRaised=true text='CONFIRM' action='saveUser'}}
      </div>
    </div>
  </div>
    {{partial 'partials/footer'}}
  {{notification-container position="bottom"}}
</div>