<div id="usernew" class="container index-main" style="padding-top:80px">
    <div style="text-align:center;">
        <h1>Finish Creating Your Account</h1>
        <hr>
        <h3>We would like some additional information to finish creating your account</h3>
        <p>This is optional but recommended, you can scroll to the bottom of the page and click confirm for now</p>
        <br>

    </div>
    <div class="form-horizontal">
        <div class="form-group has-feedback">
            <label class="col-sm-3 control-label">Name*</label>
            <div class="col-sm-6">
              {{input type="text" disabled="true" value=model.name class="form-control" placeholder="Your Name"}}
              {{!-- {{#if item.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}} --}}
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="col-sm-3 control-label">Surname*</label>
            <div class="col-sm-6">
              {{input type="text" disabled="true" value=model.surname class="form-control" placeholder="Your Surname"}}
              {{!-- {{#if item.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}} --}}
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="col-sm-3 control-label">Email</label>
            <div class="col-sm-6">
              {{input type="text" value=model.email class="form-control" placeholder="Your Email Address"}}
              {{!-- {{#if item.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}} --}}
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="col-sm-3 control-label">Cellphone Number</label>
            <div class="col-sm-6">
              {{input type="text" value=model.cell class="form-control" placeholder="So that we can call you when we are lonely :("}}
              {{!-- {{#if item.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}} --}}
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="col-sm-3 control-label">Address Line 1</label>
            <div class="col-sm-6">
              {{input type="text" value=model.addressL1 class="form-control" placeholder="Your Address"}}
              {{!-- {{#if item.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}} --}}
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="col-sm-3 control-label">Address Line 2</label>
            <div class="col-sm-6">
              {{input type="text" value=model.addressL2 class="form-control" placeholder="Your Address"}}
              {{!-- {{#if item.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}} --}}
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="col-sm-3 control-label">City</label>
            <div class="col-sm-6">
              {{input type="text" value=model.city class="form-control" placeholder="Your City"}}
              {{!-- {{#if item.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}} --}}
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="col-sm-3 control-label">Postal Code</label>
            <div class="col-sm-6">
              {{input type="text" value=model.postalcode class="form-control" placeholder="Your Postal Code"}}
              {{!-- {{#if item.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}} --}}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button type="submit" style="width:100%" class="btn btn-success-thin" {{action 'saveUser' model}}>Confirm</button>
            </div>
        </div>
    </div>
</div>