<div class="text-center default-main-body">
	<div class="default-section-1">
		<div class="default-foreground">
			{{!-- <div class="cursive-text"><h1>{{name1}}</h1><h1>&amp;</h1><h1>{{name2}}</h1></div> --}}
			<div class="cursive-text"><h1>{{name1}} &amp; {{name2}}</h1></div>
			<p>{{subheading}}</p>
		</div>
		<div class="default-background">
			<img src='../assets/images/emails/parts/flower-l.jpg'>
		</div>
	</div>
	<div class="default-section-2">
		<div class="default-foreground">
			<img src='../assets/images/emails/parts/hr-top.jpg'><br>
			<p style="padding-top: 20px;">{{date}}</p>

			<p style="font-size: 20px; font-weight: 600; padding-top: 20px;">{{addressL1}}</p>
			<p>{{addressL2}}</p>
			<p style="padding-top: 30px;">{{info1}}</p>
			<p>{{info2}}</p>
			<p>{{info3}}</p>
			<p style="padding-top: 50px;">{{contact}}</p>
			<img src='../assets/images/emails/parts/hr-bottom.jpg'><br><br>
			<div class="cascading-buttons">
				<button class="default-accept-btn">I Accept</button>
				<button class="default-decline-btn">I Decline</button>
			</div>
			<img src='../assets/images/bloom-bg3.png' style="padding-top: 50px; max-width: 100%; height: auto; width: 300px;">
		</div>
		<div class="default-background-r">
			<img src='../assets/images/emails/parts/flower-r.jpg'>
		</div>
	</div>
</div>