<div class="text-center default-sd-main-body">
	<img class="default-sd-border" src='../assets/images/emails/parts/Border.png'/>
	<div class="default-sd-content">
		<img class="default-sd-heading" src='../assets/images/emails/parts/Heading.png' />
		<h2>{{name1}} &amp; {{name2}}</h2>
		<h3>{{date}}</h3>
		<p>
			{{addressL1}}
		<br><br />
			{{info1}}
		</p>
	</div>

</div>
