<div class="header-top">
    <strong>Account Totals</strong></div>
<div style='padding-bottom: 30px;' class="container">
  {{!-- {{#paper-switch value=hideVendors onChange=(action (mut hideVendors))}}
    {{displayType}}
  {{/paper-switch}} --}}
  {{!-- <div class="text-align: center; padding-top: 40px;">
    <strong>Account Totals</strong>
  </div> --}}
  <div class="col-sm-6" style="text-align: right;">
      <br />
      <p>Total accounts: {{model.length}}</p>
      <p>User count: {{userCount}}</p>
  </div>
  <div class="col-sm-6" style="text-align: left;">
  {{!-- <strong>Account Type to Display</strong> --}}
  <br />
  {{!-- <div {{action "toggleCheck" "Users"}}>
    {{#if showUsers}}
      {{mdl-button icon="check_box"}}
    {{else}}
      {{mdl-button icon="check_box_outline_blank"}}
    {{/if}}USERS

  </div>

  <div {{action "toggleCheck" "Vendors"}}>
    {{#if showVendors}}
      {{mdl-button icon="check_box"}}
    {{else}}
      {{mdl-button icon="check_box_outline_blank"}}
    {{/if}}VENDORS

  </div> --}}

  <p>Vendor count: {{vendorCount}}</p>
  <p>Admin count: {{adminCount}}</p>
  </div>
</div>

<div class="container">
    {{user-table model=model}}

  {{!-- <table class="table table-bordered">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>E-mail</th>
        <th>Accounts</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |user|}}
          {{#if user.vendorAccount}}
            {{#if showVendors}}
            <tr>
              <td>
                {{user.name}} {{user.surname}}
              </td>
              <td>
                {{user.email}}
              </td>
              <td>
                <div style="text-align: left">
                  <a href="https://console.firebase.google.com/project/pear-server/database/data/users/{{user.id}}">
                  <i style="font-size: 24px;" class="fa fa-database"></i>
              </a>&nbsp;&nbsp;
                    {{#link-to 'vendor-profile' user.vendorAccount.id}}<i style="font-size: 24px;" class="fa fa-truck"></i>{{/link-to}}
                </div>
              </td>
              <td>
                <div {{action "destroyUser" user.id}} class="tb-btn">{{mdl-button icon="delete"}}</div>
              </td>
            </tr>

            {{/if}}
          {{else}}
            {{#if showUsers}}
            <tr>
              <td>
                {{user.name}} {{user.surname}}
              </td>
              <td>
                {{user.email}}
              </td>
              <td>
                <div style="text-align: left">
                  <a href="https://console.firebase.google.com/project/pear-server/database/data/users/{{user.id}}">
                  <i style="font-size: 24px;" class="fa fa-database"></i>
              </a>&nbsp;&nbsp;
                    <a href='' {{action "notImplemented"}}><i style="font-size: 24px;" class="fa fa-diamond"></i></a>
                </div>
              </td>
              <td>
                <div {{action "destroyUser" user.id}} class="tb-btn">{{mdl-button icon="delete"}}</div>
              </td>
            </tr>
            {{/if}}
          {{/if}}
      {{/each}}
    </tbody>
  </table> --}}

</div>