<div class="header-top">
  <h1>Users</h1></div>
<div style='padding-bottom: 30px;' class="container">
  {{!-- {{#paper-switch value=hideVendors onChange=(action (mut hideVendors))}}
    {{displayType}}
  {{/paper-switch}} --}}
  <div class="" style="text-align: center;">
      <strong>Account Totals</strong><br /><br />
      <p>Total accounts: {{model.length}}</p>
      <p>User count: {{userCount}}</p>
      <p>Vendor count: {{vendorCount}}</p>
      <p>Admin count: {{adminCount}}</p>
  </div>
  {{!-- <div class="col-sm-6" style="text-align: left;">
    <strong>Account Type to Display</strong>
    <br /><br />
    <div {{action "toggleCheck" "Users"}}>
      {{#if showUsers}}
        {{mdl-button icon="check_box"}}
      {{else}}
        {{mdl-button icon="check_box_outline_blank"}}
      {{/if}}USERS

    </div>

    <div {{action "toggleCheck" "Vendors"}}>
      {{#if showVendors}}
        {{mdl-button icon="check_box"}}
      {{else}}
        {{mdl-button icon="check_box_outline_blank"}}
      {{/if}}VENDORS

    </div>
  </div> --}}
</div>


{{!-- <div class="container">
{{#mdl-table content=model as |user|}}
    {{#mdl-table-col label='Full Name'}}
      {{user.name}} {{user.surname}}
    {{/mdl-table-col}}

    {{#mdl-table-col label='E-mail'}}
      {{user.email}}
    {{/mdl-table-col}}

      {{#mdl-table-col label="Accounts"}}
        <div style="text-align: left">
      <a href="https://console.firebase.google.com/project/pear-server/database/data/users/{{user.id}}">
          <i style="font-size: 24px;" class="fa fa-database"></i>
      </a>&nbsp;&nbsp;
      {{#if user.vendorAccount}}
        {{#link-to 'vendor-profile' user.vendorAccount.id}}<i style="font-size: 24px;" class="fa fa-truck"></i>{{/link-to}}
      {{else}}
        <a href='' {{action "notImplemented"}}><i style="font-size: 24px;" class="fa fa-diamond"></i></a>
      {{/if}}</div>
    {{/mdl-table-col}}

    {{#mdl-table-col label='Delete'}}
      <div {{action "destroyUser" user.id}} class="tb-btn">{{mdl-button icon="delete"}}</div>
    {{/mdl-table-col}}
{{/mdl-table}}
</div> --}}

<div class="container">
  <div style="text-align: right;">

    <div class="form-horizontal form-padding-bottom icon-form" style="padding-top: 20px;">
      <i class="material-icons">search</i>{{mdl-textfield label='Filter...' value=filterKey}}
    </div>
  </div>

  {{#eb-table
        pageSize=20
        content=model
        columns=columns
        filterKey=filterKey}}

        {{!-- {{#eb-table-navbar}}
        <div class="table-search input-group pull-right">
             {{input class="form-control table-search" type='text' value=filterKey placeholder="Filter..." size=40}}
         </div>
         <div style="clear:both;"></div>
        {{/eb-table-navbar}} --}}
  {{/eb-table}}


  {{!-- <table class="table table-bordered">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>E-mail</th>
        <th>Accounts</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |user|}}
          {{#if user.vendorAccount}}
            {{#if showVendors}}
            <tr>
              <td>
                {{user.name}} {{user.surname}}
              </td>
              <td>
                {{user.email}}
              </td>
              <td>
                <div style="text-align: left">
                  <a href="https://console.firebase.google.com/project/pear-server/database/data/users/{{user.id}}">
                  <i style="font-size: 24px;" class="fa fa-database"></i>
              </a>&nbsp;&nbsp;
                    {{#link-to 'vendor-profile' user.vendorAccount.id}}<i style="font-size: 24px;" class="fa fa-truck"></i>{{/link-to}}
                </div>
              </td>
              <td>
                <div {{action "destroyUser" user.id}} class="tb-btn">{{mdl-button icon="delete"}}</div>
              </td>
            </tr>

            {{/if}}
          {{else}}
            {{#if showUsers}}
            <tr>
              <td>
                {{user.name}} {{user.surname}}
              </td>
              <td>
                {{user.email}}
              </td>
              <td>
                <div style="text-align: left">
                  <a href="https://console.firebase.google.com/project/pear-server/database/data/users/{{user.id}}">
                  <i style="font-size: 24px;" class="fa fa-database"></i>
              </a>&nbsp;&nbsp;
                    <a href='' {{action "notImplemented"}}><i style="font-size: 24px;" class="fa fa-diamond"></i></a>
                </div>
              </td>
              <td>
                <div {{action "destroyUser" user.id}} class="tb-btn">{{mdl-button icon="delete"}}</div>
              </td>
            </tr>
            {{/if}}
          {{/if}}
      {{/each}}
    </tbody>
  </table> --}}

</div>
