<div class="container">

<div class="header-top"><h1>Vendors</h1></div>
<p style="text-align: center;">Vendor count: {{model.length}}</p>

{{!-- <table class="table table-bordered table-striped">
    <thead>
      <tr>
          <th>Name</th>
          <th>Description</th>
          <th>E-mail</th>
      </tr>
    </thead>
    <tbody>
    {{#each model as |vendor|}}
        <tr>
            <td>{{vendor.name}}</td>
            <td>{{vendor.desc}}</td>
            <td>{{vendor.email}}</td>
        </tr>
    {{/each}}

    </tbody>
</table> --}}


{{#mdl-table content=model as |vendor|}}
  {{#mdl-table-col label='Name'}}
    {{#link-to 'vendor-profile' vendor.id}}{{vendor.name}}{{/link-to}}
  {{/mdl-table-col}}
  {{#mdl-table-col label='E-mail'}}
    {{vendor.email}}
  {{/mdl-table-col}}
{{!--   {{#mdl-table-col label='Contact Number'}}

  {{/mdl-table-col}} --}}
  {{!-- {{#mdl-table-col label="Accounts"}}
      <a href="http://facebook.com/{{user.id}}">
          <i style="font-size: 24px;" class="fa fa-facebook-square"></i>
      </a>&nbsp;&nbsp;
      <a href="https://console.firebase.google.com/project/pear-server/database/data/users/{{user.id}}">
          <i style="font-size: 24px;" class="fa fa-database"></i>
      </a>
  {{/mdl-table-col}} --}}
 {{!--  {{#mdl-table-col label='Attending'}}

  {{/mdl-table-col}} --}}
  {{#mdl-table-col label='Province'}}
    {{vendor.province.name}}
  {{/mdl-table-col}}
  {{#mdl-table-col label='Details'}}
    <div {{action "showLoggedInUsers" vendor.id}} class="tb-btn">{{mdl-button icon="people"}}</div>
  {{/mdl-table-col}}
  {{#mdl-table-col label='Listing'}}
    {{#if vendor.catItems}}{{mdl-button icon="check"}}{{else}}{{/if}}
  {{/mdl-table-col}}
  {{#mdl-table-col label='Delete'}}
    <div {{action "destroyVendor" vendor.id}} class="tb-btn">{{mdl-button icon="delete"}}</div>
  {{/mdl-table-col}}
{{/mdl-table}}
</div>