<div id="s2-overlay3" style="display:none">
	<div class="close-overlay" {{action 'hideLogins'}}><i class="fa fa-times" aria-hidden="true"></i></div>
	<h1 style="text-align:center;" class="font-times-header">LOGIN</h1>
	<p class="font-times-subheader" style="text-align:center;">An account is required</p>

	<hr>

	<br>
	<div class="col-xs-12">
		{{!-- {{action "login" "facebook" }} --}}
		<btn class="btn btn-block btn-social btn-facebook pear-social-button" {{action "login" "facebook" }}>
		  <span class="fa fa-facebook"></span>
		  Sign in with Facebook
		</btn>
	</div>
	<div class="col-xs-12">
		 {{!-- {{action "login" "twitter" }} --}}
		<btn disabled="true" class="btn btn-block btn-social btn-twitter pear-social-button" {{action "login" "twitter" }}>
		  <span class="fa fa-twitter"></span>
		  Sign in with Twitter
		</btn>
	</div>
	<div class="col-xs-12">
		{{!-- k" {{action "notimplemented"}} --}}
		<btn disabled="true" class="btn btn-block btn-social btn-facebook btn-reddit pear-social-button2" {{action "notimplemented" }}>
		  <span class="fa fa-envelope"></span>
		  Sign in with Email &amp; Password
		</btn>
</div>
</div>