<div class="pear-sub-well">
   <ul class="nav nav-pills unselectable pear-sidebar">
      {{#link-to 'index' tagName="li"}}<a href>MY FAVOURITES</a>{{/link-to}}
   </ul>
</div>
{{!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
Launch demo modal
</button>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">
Launch demo modal2
</button> --}}
<div class="container">
   <div class="text-center">
      <h1 class="font-times-header" style="color: #4C4C4E;">My Favourites</h1><br>
      <hr>
   </div>

   {{#if model}}
   <div class="text-center hideOnPhones">
      <div id="masonry-items">
         {{#masonry-grid items=model isFitWidth=true columnWidth=360 storeMasonryRef="storeMasonryRef" gutter=8 as |cat-item|}}
         <div>
            <div class="category-block">
               <span class="cat-title">{{cat-item.name}}</span>
               <div class="cat-fav">
                  {{#favourite-button cat-item.id session.currentUser.providerData.0.uid}}{{/favourite-button}}
               </div>
               {{#link-to 'single-item' cat-item.id tagname='div' class="text-center cat-img-container"}}
               {{#image-component loadedImg="loadedImg" src=cat-item.imageURL class="img-responsive cat-image"}}{{/image-component}}
               {{/link-to}}
               <div class="cat-overlay-2">
                  
               </div>
               <div class="cat-bottom-box">
                  <span class="cat-category">{{cat-item.category.name}}</span>
                  <span class="cat-price">R{{cat-item.price}}</span>
               </div>
            </div>
         </div>
         {{/masonry-grid}} 
         <div class="nav-arrows">
            {{mdl-button icon="chevron_left" action="prev" disabled=isFirst}} Page {{pgNum}}/{{pgTotal}} {{mdl-button icon="chevron_right" action="next" disabled=isLast}}
         </div>
      </div>
      {{#if model}}
      <div id="loading-spinner">
         <br>
           {{paper-progress-linear value=percentLoaded}} 
      </div>
      {{/if}}
   </div>
   <div class="row text-center showOnPhones">
      {{#each model as |cat-item|}}
         <div style="display: inline-block;">
            <div class="category-block">
               <span class="cat-title">{{cat-item.name}}</span>
               <div class="cat-fav">
                  {{#favourite-button cat-item.id session.currentUser.providerData.0.uid}}{{/favourite-button}}
               </div>
               {{#link-to 'single-item' cat-item.id tagname='div' class="text-center cat-img-container"}}
                  <img src="{{cat-item.imageURL}}" class="img-responsive mobile-image">
               {{/link-to}}
               <div class="cat-overlay-2">
                  
               </div>
               <div class="cat-bottom-box">
                  <span class="cat-category">{{cat-item.category.name}}</span>
                  <span class="cat-price">R{{cat-item.price}}</span>
               </div>
            </div>
         </div>
      {{/each}}
      <div class="nav-arrows">
         {{mdl-button icon="chevron_left" action="prev" disabled=isFirst}} Page {{pgNum}}/{{pgTotal}} {{mdl-button icon="chevron_right" action="next" disabled=isLast}}
      </div>
   </div>    
   {{else}}
   <div class="text-center">
      <h3>It looks like you don't have any favourites yet!</h3>
      <h3>Click here to explore</h3>
      {{#link-to 'categories'}}{{mdl-button isRaised=true text='CATEGORIES'}}{{/link-to}}
   </div>
   {{/if}}
</div>
{{notification-container position="bottom"}}