<div class="pear-sub-well">
   <ul class="nav nav-pills unselectable pear-sidebar">
      {{#link-to 'index' tagName="li"}}<a href>MY FAVOURITES</a>{{/link-to}}
   </ul>
</div>
{{!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
Launch demo modal
</button>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">
Launch demo modal2
</button> --}}
<div class="container-fluid">
   <div class="text-center">
      <h1 class="font-times-header">MY FAVOURITES</h1>
      {{#if model}}
      <p class="font-times-subheader">
         Simply click the heart to remove the idea from your board, or click through to chat to the supplier about the details. 
      </p>
      <br>
      {{else}}
      <h3>It looks like you don't have any favourites yet!</h3>
      <h3>Click here to explore</h3>
      {{#link-to 'categories'}}<button class="btn btn-lg btn-default clbutton-grey">Categories</button>{{/link-to}}
      {{/if}}
   </div>
   <div class="text-center hideOnPhones">
      <div id="masonry-items">
         {{#masonry-grid items=model isFitWidth=true columnWidth=360 storeMasonryRef="storeMasonryRef" gutter=8 as |cat-item|}}
         <div>
            <div class="category-block">
               <div class="cat-overlay-1">
                  <h2>{{cat-item.name}}</h2>
               </div>
               {{#link-to 'single-item' cat-item.id tagname='div' class="text-center cat-img-container"}}
               {{#image-component loadedImg="loadedImg" src=cat-item.imageURL class="img-responsive cat-image"}}{{/image-component}}
               {{/link-to}}
               <div class="cat-overlay-2">
                  {{#favourite-button cat-item.id session.currentUser.providerData.0.uid}}{{/favourite-button}}
               </div>
            </div>
         </div>
         {{/masonry-grid}} 
         <div style="text-align: center">
            <button class="btn btn-default" {{action "prev"}}>Previous</button>
            <button class="btn btn-default" {{action "next"}}>Next</button>
         </div>
      </div>
      {{#if model}}
      <div id="loading-spinner">
         <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" ariaValuenow={{percentLoaded}}
               ariaValuemin="0" ariaValuemax="100" style={{percentLoadedStyle}}>
            </div>
         </div>
         {{!-- 
         <h2><i class="fa fa-spinner fa-spin"></i></h2>
         --}}
      </div>
      {{/if}}
   </div>
   <div class="row text-center showOnPhones">
      {{#each model as |cat-item|}}
      <div class="col-lg-4 col-md-6">
         <div class="category-block-mobile">
            <div class="mobile-overlay-1">
               <h2>{{cat-item.name}}</h2>
            </div>
            {{#link-to 'single-item' cat-item.id tagname='div' class=" text-center cat-img-container"}}
            <img src="{{cat-item.imageURL}}" class="img-responsive mobile-image">
            {{/link-to}}
            <div class="mobile-overlay-2">
               <div class="mobile-button-container">	
                  {{#favourite-button cat-item.id session.currentUser.providerData.0.uid}}{{/favourite-button}}
               </div>
            </div>
         </div>
      </div>
      {{/each}}
      <div style="text-align: center">
         <button class="btn btn-default" {{action "prev"}}>Previous</button>
         <button class="btn btn-default" {{action "next"}}>Next</button>
      </div>
   </div>
</div>
{{notification-container position="bottom"}}