<h1 class="text-center">Dresses</h1>
<div class="row">
	<div class="col-lg-4 col-md-6">
		<div class="category-block">
			<h2>Short white 97</h2>
			<div class="text-center cat-img-container">
				<img src="../assets/images/sample-content/dress1.jpg" class="img-responsive cat-image" {{action 'showSingle'}}>
			</div>
			<button type="button" class="btn btn-danger cat-heart-button"><i class="fa fa-heart-o"></i></button>
		</div>
	</div>
	<div class="col-lg-4 col-md-6">
		<div class="category-block">
			<h2>Tassled 34</h2>
			<div class="text-center cat-img-container">
				<img src="../assets/images/sample-content/dress1-2.jpg" class="img-responsive cat-image" {{action 'showSingle'}}>
			</div>
			<button type="button" class="btn btn-danger cat-heart-button">
				<i class="fa fa-heart-o pear-heart-icon"></i>
			</button>
		</div>
	</div>
	<div class="col-lg-4 col-md-6">
		<div class="category-block">
			<h2>Frills 32</h2>
			<div class="text-center cat-img-container">
				<img src="../assets/images/sample-content/dress1-3.jpg" class="img-responsive cat-image" {{action 'showSingle'}}>
			</div>
			<button type="button" class="btn btn-danger cat-heart-button"><i class="fa fa-heart-o"></i></button>
		</div>
	</div>
	<div class="col-lg-4 col-md-6">
		<div class="category-block">
			<h2>Plain &amp; Sleek 46</h2>
			<div class="text-center cat-img-container">
				<img src="../assets/images/sample-content/dress1-4.jpg" class="img-responsive cat-image" {{action 'showSingle'}}>
			</div>
			<button type="button" class="btn btn-danger cat-heart-button"><i class="fa fa-heart-o"></i></button>
		</div>
	</div>
	<div class="col-lg-4 col-md-6">
		<div class="category-block">
			<h2>Tight 60</h2>
			<div class="text-center cat-img-container">
				<img src="../assets/images/sample-content/dress1-5.jpg" class="img-responsive cat-image" {{action 'showSingle'}}>
			</div>
			<button type="button" class="btn btn-danger cat-heart-button"><i class="fa fa-heart-o"></i></button>
		</div>
	</div>
</div>
<h1>Category Name Here</h1>
<div class="row">
	<div class="col-lg-4 col-md-6">
		<div class="category-block">
			<h2>Item Name</h2>
		</div>
	</div>
	<div class="col-lg-4 col-md-6">
		<div class="category-block">
			<h2>Item Name</h2>	
		</div>
	</div> 
	<div class="col-lg-4 col-md-6">
		<div class="category-block">
			<h2>Item Name</h2>	
		</div>
	</div> 
	<div class="col-lg-4 col-md-6">
		<div class="category-block">
			<h2>Item Name</h2>	
		</div>
	</div> 
	<div class="col-lg-4 col-md-6">
		<div class="category-block">
			<h2>Item Name</h2>	
		</div>
	</div> 
</div>