<div class="about-page">
  {{!-- {{#if session.isAuthenticated}}
  {{else}}
    <div class="navbar-padding"></div>
  {{/if}} --}}
  {{#j-query.slider-component}}
    <div class="about-slider-container">
      <div class="about-slider">
        <div class="slick-content pear-slide" style="background-image: url('../assets/images/slider-images/wedding.jpg');">
          <div class="row" style="height: 100%;">
            <div class="col-xs-2">
              <!-- Nothing here -->
            </div>
            <div class="col-xs-8 text-center index-logo-container-2">

            </div>
            <div class="col-xs-2 text-center">
              <!-- Nothing here either -->
            </div>
          </div>
        </div>
        <div class="slick-content pear-slide" style="background-image: url('../assets/images/slider-images/slider2.jpg');">
          <div class="about-center-me text-center">
            <h5 class="slide-h1">Plan</h5>
            <div class="about-font-stretch">
              <h6 class="text-center slide-sub">Wedding planning can be tough.<br />We're here to change that.</h6>
            </div>
          </div>
        </div>
        <div class="slick-content pear-slide" style="background-image: url('../assets/images/slider-images/slider3.jpg');">
          <div class="about-center-me text-center">
            <h5 class="slide-h1">Share</h5>
            <div class="about-font-stretch">
              <h6 class="text-center slide-sub">Share your ideas and favourites with your friends,<br />and invite them to view your Bloom Wedding Profile.</h6>
            </div>
          </div>
        </div>
        <div class="slick-content pear-slide" style="background-image: url('../assets/images/slider-images/remember.jpg');">
          <div class="about-center-me text-center">
            <h5 class="slide-h1">Remember</h5>
            <div class="about-font-stretch">
              <h6 class="text-center slide-sub">We do not remember days,<br />we remember moments.</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/j-query.slider-component}}
  <div class="about-section-grey">
    <div class="container inner-sec">
      <div class="">
        <h1 class="font-times-header">Welcome to Bloom</h1>

        <p>Deep breaths, we’ve got you covered.<br>Everything you need to piece together for the most memorable day of your life is just a sign-up away.</p>
        <br><hr>
        <div class="row">
          <div class="col-sm-4 border-box">
            <img src="../assets/images/dream.png" style="height:150px;">
            <h1 class="about-block-h1">Dream</h1>
            <p>Dedicated to bringing guidance and structure to the culmination of a lifetime of dreams.</p>
          </div>

          <div class="col-sm-4 border-box">
            <img src="../assets/images/plan.png" style="height:150px;">
            <h1 class="about-block-h1">Create</h1>
            <p>With one platform to do everything, planning your wedding is now so much easier.</p></div>

          <div class="col-sm-4 border-box">
            <img src="../assets/images/share.png" style="height:150px;">
            <h1 class="about-block-h1">Inspire</h1>
            <p>Raise your glass to a collaborative and visual experience, inspiring you all the way to the aisle.</p></div>
        </div>
        {{!-- <button class="btn btn-lg btn-default clbutton-grey" {{action 'guidedSearch'}}>Guided Tour</button> --}}
      </div>
      <hr>
      <div style="padding: 60px 0px 60px 0px;"> 
        {{mdl-button isRaised=true text='SIGN UP' action="showLogins"}}
      </div>
    </div>
  </div>
  <div class="guided-tour-top">
    <div class="overlay-dark">
      <div class="container" style="padding-top: 125px; padding-bottom: 125px;">
          <h1>Be our guest and take the guided tour</h1><br>
          {{#link-to 'guide'}}{{mdl-button isRaised=true text='GUIDED TOUR'}}{{/link-to}}
      </div>
    </div>
  </div>
  <div class="about-section-white" id="contact-us">
    <h1>Let’s chat.<br>We’d love to hear your thoughts.</h1>
    <div style="padding: 20px 0px 45px 0px;">
      <a href="#" {{action 'openContactModal'}}>{{mdl-button isRaised=true text='CONTACT US'}}</a>
      {{!-- <div class="form-horizontal form-group form-group-lg row">
        <div class="col-md-offset-2 col-md-8">
          <div class="has-feedback {{if model.isValid 'has-success'}}">
            <div class="input-group">
              <span class="input-group-addon">@</span> {{input type="email" value=model.email class="form-control" placeholder="Your e-mail address."}}
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback email-tick {{if model.isValid 'visible' 'hidden'}}"></span>
          </div>
          <br>
          <div class="{{if model.isLong 'has-success'}}">
            {{textarea class="form-control" value=model.message placeholder="Your message. (At least 5 characters.)" rows="7"}}
          </div>
          <br>
          {{#if model.responseMessage}}
            <div class="alert alert-success" {{action 'closeMessage'}}>{{model.responseMessage}}
              <p>Click this popup to close it</p>
            </div>
          {{/if}}
          <div style="float:right;">
            {{#ember-grecaptcha captchaComplete="captchaComplete" captchaExpired="captchaExpired" }}{{/ember-grecaptcha}}
            <br>
            <button class="btn btn-success btn-lg btn-block" style="float:right; max-width:180px;" disabled= {{model.isDisabled}} {{action 'saveContact' model}}>Submit</button>
          </div>
        </div>
      </div> --}}
    </div>
   
    {{partial 'partials/footer'}}
  </div>
</div>
{{notification-container position="bottom"}}







<!--
<div class="about-section-grey">
    <div class="container inner-sec">
        <div class="card inner-sec">
            <h1>We want to make things easy for you.</h1>
            <hr>
            <div class="row">
                <div class="col-sm-4 border-box">
                    <h1>Plan</h1>
                    <div class="circle-link">
                        <div class="circle"><i class="fa fa-calendar"></i></div>
                    </div>
                    <h4>Plan your wedding and keep track of all the details all in one place.</h4>
                </div>

                <div class="col-sm-4 border-box">
                    <h1>Connect</h1>
                    <div class="circle-link">
                        <div class="circle"><i class="fa fa-link"></i></div>
                    </div>
                    <h4>Find suppliers for every aspect of your wedding.</h4></div>

                <div class="col-sm-4 border-box">
                    <h1>Share</h1>
                    <div class="circle-link">
                        <div class="circle"><i class="fa fa-users"></i></div>
                    </div>
                    <h4>Let your inner circle in on all the juicy details of your wedding.</h4></div>
            </div>
            <h3>Click the button below to learn more!</h3>
            <hr>
            <button class="btn btn-lg btn-default clbutton-grey" {{action 'guidedSearch'}}>Guided Tour</button>
        </div>
    </div>
</div>
-->
