<div class="about-page">
  {{!-- {{#if session.isAuthenticated}}
  {{else}}
    <div class="navbar-padding"></div>
  {{/if}} --}}
  {{#j-query.slider-component}}
    <div class="about-slider-container">
      <div class="about-slider">
        <div class="slick-content pear-slide-1" style="background-image: url('../assets/images/slider-images/slider1.jpg');">
          <div class="row" style="height: 100%;">
            <div class="col-xs-2">
              <!-- Nothing here -->
            </div>
            <div class="col-xs-8 text-center index-logo-container-2">

            </div>
            <div class="col-xs-2 text-center">
              <!-- Nothing here either -->
            </div>
          </div>
        </div>
        <div class="slick-content pear-slide-2" style="background-image: url('../assets/images/slider-images/slider2.jpg');">
          <div class="about-center-me text-center">
            <h1 class="text-center"><span>Plan</span></h1>
            <div class="about-font-stretch">
              <h4 class="text-center"><span>Wedding planning can be tough.
							<br />We're here to change that.</span></h4>
            </div>
          </div>
        </div>
        <div class="slick-content pear-slide-3" style="background-image: url('../assets/images/slider-images/slider3.jpg');">
          <div class="about-center-me text-center">
            <h1 class="text-center"><span>Share</span></h1>
            <div class="about-font-stretch">
              <h4 class="text-center"><span>Share your ideas and favourites with your friends,<br />and invite them to view your Pear Wedding Profile.
							<br /></span></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/j-query.slider-component}}
  <div class="about-section-grey">
    <div class="container inner-sec">
      <div class="">
        <h1 class="font-times-header">We want to make things easy for you.</h1>
        <hr>
        <div class="row">
          <div class="col-sm-4 border-box">
            <img src="../assets/images/plan.png" style="height:150px;">
            <h1 class="font-times-header">PLAN</h1>
            <h4 class="font-times-subheader">Info and stats about your wedding are usually all over the place. It’s our mission at Pear to change that. Manage your budget, guest list and so much more in the Hub..</h4>
          </div>

          <div class="col-sm-4 border-box">
            <img src="../assets/images/connect.png" style="height:150px;">
            <h1 class="font-times-header">CONNECT</h1>
            <h4 class="font-times-subheader">Pear’s unique product listing allows you to start gathering  your ideas in your hub, by ‘favoriting’ those that appeal to you most. When you’re ready, get in touch with the chosen ones.</h4></div>

          <div class="col-sm-4 border-box">
            <img src="../assets/images/share.png" style="height:150px;">
            <h1 class="font-times-header">SHARE</h1>
            <h4 class="font-times-subheader">Any wedding these days  requires involvement from loved ones living all over the world. Making them feel a part of the whole process is one of Pear’s biggest priorities.</h4></div>
        </div>
        <h3 class="font-times-subheader">Have another look at how it all works with a guided tour.</h3>
        <hr>
        {{#link-to 'guide'}}{{mdl-button isRaised=true text='GUIDED TOUR'}}{{/link-to}}
        {{!-- <button class="btn btn-lg btn-default clbutton-grey" {{action 'guidedSearch'}}>Guided Tour</button> --}}
      </div>
    </div>
  </div>
  <div class="about-section-white" id="contact-us">
    <h1 class="font-times-header">Contact Us</h1>
    <hr class="style-two">
    <h3 class="font-times-subheader">Let’s chat. We’d love to hear your thoughts.</h3>
    <br>
    <div>
      <div class="form-horizontal form-group form-group-lg row">
        <div class="col-md-offset-2 col-md-8">
          <div class="has-feedback {{if model.isValid 'has-success'}}">
            <div class="input-group">
              <span class="input-group-addon">@</span> {{input type="email" value=model.email class="form-control" placeholder="Your e-mail address."}}
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback email-tick {{if model.isValid 'visible' 'hidden'}}"></span>
          </div>
          <br>
          <div class="{{if model.isLong 'has-success'}}">
            {{textarea class="form-control" value=model.message placeholder="Your message. (At least 5 characters.)" rows="7"}}
          </div>
          <br>
          {{#if model.responseMessage}}
            <div class="alert alert-success" {{action 'closeMessage'}}>{{model.responseMessage}}
              <p>Click this popup to close it</p>
            </div>
          {{/if}}
          <div style="float:right;">
            {{#ember-grecaptcha captchaComplete="captchaComplete" captchaExpired="captchaExpired" }}{{/ember-grecaptcha}}
            <br>
            <button class="btn btn-success btn-lg btn-block" style="float:right; max-width:180px;" disabled= {{model.isDisabled}} {{action 'saveContact' model}}>Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{notification-container position="bottom"}}







<!--
<div class="about-section-grey">
    <div class="container inner-sec">
        <div class="card inner-sec">
            <h1>We want to make things easy for you.</h1>
            <hr>
            <div class="row">
                <div class="col-sm-4 border-box">
                    <h1>Plan</h1>
                    <div class="circle-link">
                        <div class="circle"><i class="fa fa-calendar"></i></div>
                    </div>
                    <h4>Plan your wedding and keep track of all the details all in one place.</h4>
                </div>

                <div class="col-sm-4 border-box">
                    <h1>Connect</h1>
                    <div class="circle-link">
                        <div class="circle"><i class="fa fa-link"></i></div>
                    </div>
                    <h4>Find suppliers for every aspect of your wedding.</h4></div>

                <div class="col-sm-4 border-box">
                    <h1>Share</h1>
                    <div class="circle-link">
                        <div class="circle"><i class="fa fa-users"></i></div>
                    </div>
                    <h4>Let your inner circle in on all the juicy details of your wedding.</h4></div>
            </div>
            <h3>Click the button below to learn more!</h3>
            <hr>
            <button class="btn btn-lg btn-default clbutton-grey" {{action 'guidedSearch'}}>Guided Tour</button>
        </div>
    </div>
</div>
-->
