<div id="about-top">
	<h1>Welcome to Pear</h1><hr class="style-two"><h3>The Wedding Planner</h3>
</div>
<div class="about-section-grey">
	<div class="container inner-sec">
		<div class="card inner-sec">
			<h1>We want to make things easy for you.</h1>
	        	<hr>
	        	<div class="row">
	        		<div class="col-sm-4 border-box">
	        			<h1>Plan</h1><div class="circle-link"><div class="circle"><i class="fa fa-calendar"></i></div></div><h4>Plan your wedding and keep track of all the details all in one place.</h4>
	        		</div>

	        			<div class="col-sm-4 border-box"><h1>Connect</h1><div class="circle-link"><div class="circle"><i class="fa fa-link"></i></div></div><h4>Find suppliers for every aspect of your wedding.</h4></div>

	        			<div class="col-sm-4 border-box"><h1>Share</h1><div class="circle-link"><div class="circle"><i class="fa fa-users"></i></div></div><h4>Let your inner circle in on all the juicy details of your wedding.</h4></div>
	        	</div>
	        	<h3>Click the button below to get started right away.</h3><hr>
          		{{#link-to 'index'}}<button class="btn btn-lg btn-default clbutton-grey">Guided Search</button>{{/link-to}}
		</div>
	</div>
</div>
<div class="about-section-white">
	<h1>Contact Us</h1><hr class="style-two"><h3>We would like to hear from you!</h3>
	<br>
	<div class="container">
	    <div class="form-horizontal form-group form-group-lg row">
	        <div class="col-md-offset-2 col-md-8">
		        {{input type="email" value=model.email class="form-control" placeholder="Please type your e-mail address."}}
		        <br>
		        {{textarea class="form-control" value=model.message placeholder="Your message. (At least 5 characters.)" rows="7"}}
		        <br>
			    {{#if model.responseMessage}}
			      <div class="alert alert-success" {{action 'closeMessage'}}>{{model.responseMessage}}<p>Click this popup to close it</p></div>
			    {{/if}}
		    	<button class="btn btn-success-thin btn-lg btn-block" style="bottom:0px; float:right; max-width:180px;" disabled={{model.isDisabled}}  {{action 'saveContact' model}}>Submit</button>	
	        </div>
	    </div>
	</div>
</div>