{{#if session.isAuthenticated}}
	{{partial 'navbar'}} 
	<div class="pear-app-content">
		{{outlet}}
		{{partial 'partials/footer'}}
	</div>
{{else}}

	{{partial 'navbar-splash'}} 
	<div class="pear-app-content">
		{{outlet}}
		{{partial 'partials/login-modal'}}
	</div>
	
{{/if}}

{{#if currentlyLoading}}
<div id="loading-overlay"></div>
{{/if}}

{{!-- {{partial 'partials/modals'}} --}}
{{outlet 'modal'}}
{{ember-load-remover}}
