{{#if session.isAuthenticated}}
	{{partial 'navbar'}} 
	<div class="pear-app-content">
		{{outlet}}
	</div>
{{else}}

	{{partial 'navbar-splash'}} 
	{{outlet}}
	{{partial 'partials/login-modal'}}
	
{{/if}}

{{#if currentlyLoading}}
<div id="loading-overlay"></div>
{{/if}}

{{partial 'partials/modals'}}