<div class="container-fluid index-main">
	<div class="header-top">
		<h1 class="font-times-header text-uppercase">Categories</h1>
		<hr class="style-two">
		<h3 class="font-times-subheader">All available categories</h3>
	</div>
	<div style="padding-top: 50px;">
		{{#each model as |category|}}
		{{#link-to 'category' category.id}}
		<div class="col-sm-3 height-3 category-outer-square col-xs-4">
			<div class="category-square" style={{category.style}}>
				<i class={{category.icon}}>{{category.iconName}}</i>
				<p class="cat-heading">{{category.name}}</p>
			</div>
		</div>{{/link-to}}
		{{/each}}
		{{!-- {{#each model as |category|}}
		{{#link-to 'category' category.id}}
		<div class="col-lg-4 col-md-6">
			<div class="category-block-m">
				<div class="text-center cat-img-container-m">
					<img src="{{category.imageURL}}" class="img-responsive cat-image-m">
				</div>
				<div class="overlay-title"><h4>{{category.name}}</h4></div>
			</div>
		</div>{{/link-to}}
		{{/each}} --}}
	</div>
</div>
{{partial 'partials/footer'}}