<div class="container index-main">
	<div class="header-top">
		<h1 class="font-times-header text-uppercase">{{model.name}}</h1>
		<h3 class="font-times-subheader">{{model.desc}}</h3>
		<hr class="style-two">
	</div>
	<div class="text-center">
		{{#masonry-grid items=model.catItems isFitWidth=true columnWidth=360 storeMasonryRef="storeMasonryRef" gutter=8 as |cat-item|}}
			<div>
				<div class="category-block">
					<div class="cat-overlay-1">
						<h2>{{cat-item.name}}</h2>
					</div>
					{{#link-to 'single-item' cat-item.id tagname='div' class="text-center cat-img-container"}}
						{{#image-component loadedImg="loadedImg" src=cat-item.imageURL class="img-responsive cat-image"}}{{/image-component}}
					{{/link-to}}
					<div class="cat-overlay-2">
						{{#favourite-button cat-item.id session.currentUser.providerData.0.uid}}{{/favourite-button}}
					</div>
					
				</div>
			</div>
		{{/masonry-grid}} 
	</div>
	<div class="row text-center">
	    {{#each model.catItems as |cat-item|}}
		<div class="col-lg-4 col-md-6">
			<div class="category-block-mobile">
				<h2>{{cat-item.name}}</h2>
				<div class="text-center cat-img-container">
					<img src="{{cat-item.imageURL}}" class="img-responsive cat-image">
				</div>
				{{!-- <div class="cat-overlay-2"> --}}
				{{#link-to 'single-item' cat-item.id tagname='div' class="cat-overlay-3"}}
						{{#favourite-button cat-item.id session.currentUser.providerData.0.uid}}{{/favourite-button}}
				{{/link-to}}
				{{!-- </div> --}}
			</div>
		</div>
	    {{/each}}
	</div>
</div>



	