<div class="container index-main" style="text-align:center;">
	<div class="text-center pear-guide-top">
		<h1 class="pear-text-logo unselectable">&nbsp;</h1>
	</div>
	<h1 class="font-times-header">PEAR GUIDED TOUR</h1>
	<hr class="style-two">
	<h3 class="font-times-header">WELCOME</h3>
	<p class="font-times-subheader">Welcome to Pear, the wedding planner.<br>This is where your wedding all comes together.<br>Scroll down for a preview of Pear's capabilities.</p><br>
	<hr><br>

	<h3 class="font-times-header">CATEGORIES</h3>
	<p class="font-times-subheader">Any products and services on offer by our suppliers will be found under categories.<br>Here you can favourite anything you like in order to keep track of them in your wedding Hub.<br>You can also click on the images to find out more about the supplier and get in touch.</p>
    <div class="form-group">
		{{#link-to 'categories'}}<button class="btn btn-default">Categories</button>{{/link-to}}
	</div><br>

	<div class="card" style="padding-right:10px	">
		<h3 class="font-times-header">TRY FAVOURTIE SOME ITEMS!</h3><hr><p class="font-times-subheader">Click the hearts to favourite or unfavourite</p>
		<div class="row guide-row">
			<div class="col-lg-4 col-md-6 guide-card">					
				<div class="guide-content">
					<div class="cat-overlay-3">
						<div class="cat-overlay-1">
							<h2>Beautiful Dress</h2>
						</div>
						<button type="button" class="btn btn-danger cat-heart-button {{if dress 'favourited'}}" {{action 'toggleFavourite' "dress"}}>
							<i class="fa fa-heart-o"></i></button>
					</div>
					<img src="../assets/images/sample-content/dress.jpg" class="img-responsive guide-image">
				</div>
			</div>
			<div class="col-lg-4 col-md-6 guide-card">
				<div class="guide-content">
					<div class="cat-overlay-3">
						<div class="cat-overlay-1">
							<h2>Culinary Delights</h2>
						</div>
						<button type="button" class="btn btn-danger cat-heart-button {{if culinary 'favourited'}}" {{action 'toggleFavourite' "culinary"}}>
							<i class="fa fa-heart-o"></i></button>
					</div>
					<img src="../assets/images/sample-content/culinary.jpg" class="img-responsive guide-image">
				</div>
			</div>
			<div class="col-lg-4 col-md-6 guide-card">
				<div class="guide-content">
					<div class="cat-overlay-3">
						<div class="cat-overlay-1">
							<h2>Unforgettable Venue</h2>
						</div>
						<button type="button" class="btn btn-danger cat-heart-button {{if venue 'favourited'}}" {{action 'toggleFavourite' "venue"}}>
							<i class="fa fa-heart-o"></i></button>
					</div>
					<img src="../assets/images/sample-content/venue.jpg" class="img-responsive guide-image">
				</div>
			</div>
		</div>
	</div>
	<br>
	<h3 class="font-times-header">FAVOURITING</h3>
	<p class="font-times-subheader">If you have some favourites, they will display in the block below.<br>You will be able to see all your favourites in your favourites tab, <strong>in your Hub...</strong></p>
    <div class="form-group">
		{{#link-to 'index'}}<button class="btn btn-default">Favourites</button>{{/link-to}}
	</div>
	<br>

	<div class="card" style=" padding-right:10px">
		<h3 class="font-times-header">YOUR FAVOURITED ITEMS</h3><hr><p class="font-times-subheader">Click the hearts to unfavourite</p>
		<div class="row guide-row">
			{{#if dress}}
			<div class="col-lg-4 col-md-6 guide-card">					
				<div class="guide-content">
					<div class="cat-overlay-3">
						<div class="cat-overlay-1">
							<h2>Beautiful Dress</h2>
						</div>
						<button type="button" class="btn btn-danger cat-heart-button {{if dress 'favourited'}}" {{action 'toggleFavourite' "dress"}}>
							<i class="fa fa-heart-o"></i></button>
					</div>
					<img src="../assets/images/sample-content/dress.jpg" class="img-responsive guide-image">
				</div>
			</div>
			{{/if}}
			{{#if culinary}}
			<div class="col-lg-4 col-md-6 guide-card">
				<div class="guide-content">
					<div class="cat-overlay-3">
						<div class="cat-overlay-1">
							<h2>Culinary Delights</h2>
						</div>
						<button type="button" class="btn btn-danger cat-heart-button {{if culinary 'favourited'}}" {{action 'toggleFavourite' "culinary"}}>
							<i class="fa fa-heart-o"></i></button>
					</div>
					<img src="../assets/images/sample-content/culinary.jpg" class="img-responsive guide-image">
				</div>
			</div>
			{{/if}}
			{{#if venue}}
			<div class="col-lg-4 col-md-6 guide-card">
				<div class="guide-content">
					<div class="cat-overlay-3">
						<div class="cat-overlay-1">
							<h2>Unforgettable Venue</h2>
						</div>
						<button type="button" class="btn btn-danger cat-heart-button {{if venue 'favourited'}}" {{action 'toggleFavourite' "venue"}}>
							<i class="fa fa-heart-o"></i></button>
					</div>
					<img src="../assets/images/sample-content/venue.jpg" class="img-responsive guide-image">
				</div>
			</div>
			{{/if}}
		</div>

	</div>
	<br>
	<h3 class="font-times-header">ADD GUESTS TO YOUR WEDDING</h3>
	<p class="font-times-subheader">If you want to get your guest list started, just head to the my wedding section<strong>in your Hub.</strong><br>Here is an example of one of the features, or you can head there now!</p>
    <div class="form-group">
		{{#link-to 'index.mywedding'}}<button class="btn btn-default">My Wedding</button>{{/link-to}}
	</div>
	<br>

	<div class="card" style=" padding:0px 20px 20px 20px">
		<h3 class="font-times-header">ADD GUESTS</h3><hr><p class="font-times-subheader">Add guests here and they will appear in the table below</p>
		<div class="form-horizontal row">
			<div class="form-group has-feedback">
				<label class="col-sm-3 control-label">Name &amp; Surname*</label>
				<div class="col-sm-6">
					{{input type="text" value=name class="form-control" placeholder="Name of guest"}}
				</div>
			</div>
			<div class="form-group has-feedback">
				<label class="col-sm-3 control-label">Email Address</label>
				<div class="col-sm-6">
					{{input type="text" value=email class="form-control disabled" placeholder="Email address of guest"}}
				</div>
			</div>
			<div class="form-group has-feedback">
				<label class="col-sm-3 control-label">Contact Number</label>
				<div class="col-sm-6">
					{{input type="text" value=cell class="form-control disabled" placeholder="Contact details of guest"}}
				</div>
			</div>
			<div class="form-group has-feedback">
				<label class="col-sm-3 control-label">Number of additional guests?</label>
				<div class="col-sm-6">

					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" {{action 'decrementNumber'}}>-</button>
						</span>
						{{input type="text" class="form-control guests-add" value=guestsValue }}
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" {{action 'incrementNumber'}}>+</button>
						</span>
					</div> 
					{{!-- {{#touch-spin}}
						<input id="guestNumberBox" type="text" value={{guests}} name="demo1" style="height:33px !important;">
					{{/touch-spin}} --}}
					{{!-- {{input type="number" value=desc class="form-control disabled" placeholder="Select a number"}} --}}
				</div>
			</div>
		</div>
		<div class="row">
			
	        {{#if responseMessage}}
		      <div class="col-sm-offset-3 col-sm-6 alert alert-success" {{action 'closeMessage'}}>{{responseMessage}}
		      <p class="tiny-text">Tap this message to close it</p></div>
		    {{/if}}
			<div class="col-sm-offset-3 col-sm-6">
				<button class="btn btn-default" disabled={{isNotValid}} {{action 'addGuest'}}>Add Guest to guest list</button>
			</div>
		</div>
	</div>
	<br>
	<h3 class="font-times-header">YOUR GUEST LIST</h3>
	<p class="font-times-subheader">Once you have some guests, you can now manage and view them.<br>All the guests will be listed in a table and <strong>you can can RSVP or remove them.</strong></p>
    <div class="form-group">
		{{#link-to 'index.mywedding.guests'}}<button class="btn btn-default">Guest List</button>{{/link-to}}
	</div>
	<br>

	<div class="card" style=" padding:0px 20px 20px 20px">
		<h3 class="font-times-header">YOUR GUESTS</h3><hr><p class="font-times-subheader">Click the X to remove or click the checkbox to confirm RSVP</p>
		<div class="showOnMobile container">
		    {{#each guestsA as |guest|}}
				<div class="pear-profile-card guide-xs-card" style="padding: 5px 8px 15px 5px;">
					<div class="row">
						<div class="col-xs-9">
							<div class="col-xs-offset-4 col-xs-8" style="text-align: left;"><h4><strong>Guest:</strong></h4></div>
						</div>
						<div class="col-xs-3" style="text-align: right; height: 40px;">
							<a href='' {{action "destroyGuest" guest}}><i class="fa fa-times" aria-hidden="true"></i></a>
						</div>

						<div class="col-xs-3">
							<i class="fa fa-user" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9" style="text-align: left;">{{guest.name}}</div>

						<div class="col-xs-3">
							<i class="fa fa-envelope-o" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9" style="text-align: left;">{{guest.email}}</div>

						<div class="col-xs-3">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9" style="text-align: left;">{{guest.cell}}</div>

						<div class="col-xs-3">
							<i class="fa fa-user-plus" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9" style="text-align: left;">Guests: {{guest.guests}}</div>

						<div class="col-xs-3">
							<i class="fa fa-ticket" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9" style="text-align: left;">RSVP: 	<input type="checkbox"></div>
						
					</div>
				</div>
			{{/each}}
		</div>


		<div class="guide-container hideOnMobile">
			<table class="table table-bordered table-striped" style="background-color:white;">
			    <thead style="text-align: center;">
			      <tr>
			          <th class="text-center">Name</th>
			          <th class="text-center">Contact</th>
			          <th class="text-center">+1's</th>
			          <th class="text-center">RSVP</th>
			          <th class="text-center">Delete</th>
			      </tr>
			    </thead>
			    <tbody>
			    {{#each guestsA as |guest|}}
			        <tr>
			            <td>{{guest.name}}</td>
			            <td>{{guest.email}}<br>{{guest.cell}}</td>
			            <td>{{guest.guests}}</td>            
			      		<td><input type="checkbox"></td>
			            <td><button class="btn btn-danger" {{action "destroyGuest" guest}}>X</button></td>
			        </tr>
			    {{/each}}

			    </tbody>
			</table>
		</div>
	</div>
	<br>
	<h3 class="font-times-header">EL FINITO!</h3>
	<p class="font-times-subheader">That concludes this guided tour of Pear! We hope you liked what you saw.<br>Now you can login / sign up or continue exploring the site!</p><br>
    <div class="form-group">
		{{#link-to 'login'}}<button class="btn btn-default" style="width:90px">Sign Up <i class="fa fa-heart-o"></i></button>{{/link-to}}
	</div>
	<div class="form-group">
		{{#link-to 'index'}}<button class="btn btn-default" style="width:90px">Hub <i class="fa fa-dashboard"></i></button>{{/link-to}}
	</div>
	<br><hr><br>

</div>