<div class="index-main" style="text-align:center; overflow-x: hidden;">
	
	{{!-- {{#if session.isAuthenticated}}
	{{else}}
		<div class="navbar-padding"></div>
	{{/if}} --}}
	<div class="tour-image-backdrop tour-text-shadow" style="background: url('../assets/images/banners/guided-tour.jpg'); background-position: 45% 100%; min-height: 500px;">
		<div class="" style="min-height: 500px">
			<div class="container tour-block-padding">

				<img src='../assets/images/bloom-pink.png' class="guided-tour-top-img">
				<h3 style="color: white;">Guided Tour</h3>
			</div>
		</div>
	</div>

	<div class="container" style="padding-top: 40px; padding-bottom: 20px;">
	<h1>The Bloom Proposal</h1>
		<p style="font-size: 20px;">Dream. Create. Inspire. Bloom invites you to build and celebrate your magical day with flawless wedding planning that spares no detail. We’ll show you all the ropes to help you tie the knot.</p>
		<br>
		<p style="font-style: italic;">Scroll down for a preview of all Bloom’s’ wedding bells and whistles.</p><br>
	</div>


<div class="tour-image-backdrop tour-parallax tour-text-shadow" style="background-image: url('../assets/images/banners/hands.jpg'); background-position: 50% 100%;">
	<div>
		<div class="container tour-block-padding">
			<h1>Visual Vendor Listings</h1><br>
			<p>You’ve got the ring and you’ve said Yes, now is the time to plan the rest.<br>
			Browse our visually inspired vendor listings to reveal the “chosen ones”.<br>With direct 
			messaging it’s so easy to get in touch. 
			</p>
		    <div class="form-group" style="padding-top: 60px;">
				{{#link-to 'categories'}}{{mdl-button isRaised=true text='Categories'}}{{/link-to}}
			</div><br>
		</div>
	</div>
</div>

	<div style="padding-top:50px" class="container">
		<h1>Forget me not with Favouriting!</h1>
		<p>With Listings to visually inspire and fill all your heart’s desires.<br>Fear not you won’t forget a thing from all those vendors that you love. Hit the favourite button and all will be saved to your hub.</p>
		<p style="font-style: italic;">Try favouriting some items below.</p><br>
		<div style="padding-top: 50px; padding-bottom: 60px;" class="row guide-row">
			<div class="col-lg-4 col-md-6">	
				<div style="display: inline-block;">
	            <div class="category-block">
	               <span class="cat-title">Beautiful Dress</span>
	               <div class="cat-fav">
	                  <a href="#" {{action 'toggleFavourite' "dress"}}>
	                  	{{#if dress}}
							{{mdl-button icon="favorite"}}
						{{else}}
							{{mdl-button icon="favorite_border"}}
						{{/if}}
					  </a>
	               </div>
               		{{!-- <img class="overlay-vendor" src="../assets/images/logo1055.png">   --}}
	               	<div class="img-backdrop"  style="background-image: url('../assets/images/dresses-vendor.png');">
		               	<img src="../assets/images/sample-content/dress.jpg" class="img-responsive guide-image">
		            </div>
	               <div class="cat-bottom-box">
	                  <span class="cat-category">Dresses</span>
	                  <span class="cat-price">R6850.00</span>
	               </div>
	            </div>
	         </div>	
			</div>	
			<div class="col-lg-4 col-md-6">	
				<div style="display: inline-block;">
	            <div class="category-block">
	               {{!-- <div style="display: inline-block">
		               <div class="cat-overlay-1">	
		               		<img class="overlay-vendor" src="../assets/images/logo1055.png">                 
		               </div>
		            </div> --}}
	               <span class="cat-title">Delicious Food</span>
	               <div class="cat-fav">
	                  <a href="#" {{action 'toggleFavourite' "culinary"}}>
	                  	{{#if culinary}}
							{{mdl-button icon="favorite"}}
						{{else}}
							{{mdl-button icon="favorite_border"}}
						{{/if}}
					  </a>
	               </div>
	               <div class="img-backdrop"  style="background-image: url('../assets/images/culinary-vendor.png');">
	               		<img src="../assets/images/sample-content/culinary.jpg" class="img-responsive guide-image">
	               </div>
	               <div class="cat-overlay-2">	                  
	               </div>
	               <div class="cat-bottom-box">
	                  <span class="cat-category">Culinary</span>
	                  <span class="cat-price">R2225.00</span>
	               </div>
	            </div>
	         </div>	
			</div>
			<div class="col-lg-4 col-md-6">	
				<div style="display: inline-block;">
	            <div class="category-block">
	               <span class="cat-title">Stunning Venue</span>
	               <div class="cat-fav">
	                  <a href="#" {{action 'toggleFavourite' "venue"}}>
	                  	{{#if venue}}
							{{mdl-button icon="favorite"}}
						{{else}}
							{{mdl-button icon="favorite_border"}}
						{{/if}}
					  </a>
	               </div>
	               <div class="img-backdrop"  style="background-image: url('../assets/images/venue-vendor.png');">
	               		<img src="../assets/images/sample-content/venue.jpg" class="img-responsive guide-image">
	               </div>
	               <div class="cat-overlay-2">	                  
	               </div>
	               <div class="cat-bottom-box">
	                  <span class="cat-category">Venues</span>
	                  <span class="cat-price">R10240.00</span>
	               </div>
	            </div>
	         </div>	
			</div>		
		</div>
	</div>
	<div class="container"><hr><br>
		<p>Push the heart icon to favourite a listing. You can try it out here. Favourited listings will be saved to your Hub, under the Favourites tab.</p>
	    <div class="form-group" style="padding-top: 15px;">
			{{#link-to 'index'}}{{mdl-button isRaised=true text='Favourites'}}{{/link-to}}
		</div>
		<div style="padding-top: 50px; padding-bottom: 60px;" class="row guide-row">

		<h1>Your Favourites</h1>
		<p>Click the hearts to unfavourite</p>
		{{#if dress}}
			<div class="col-lg-4 col-md-6">	
				<div style="display: inline-block;">
	            <div class="category-block">
	               <span class="cat-title">Beautiful Dress</span>
	               <div class="cat-fav">
	                  <a href="#" {{action 'toggleFavourite' "dress"}}>
	                  	{{#if dress}}
							{{mdl-button icon="favorite"}}
						{{else}}
							{{mdl-button icon="favorite_border"}}
						{{/if}}
					  </a>
	               </div>
	               <div class="img-backdrop"  style="background-image: url('../assets/images/dresses-vendor.png');">
		               	<img src="../assets/images/sample-content/dress.jpg" class="img-responsive guide-image">
		            </div>
	               <div class="cat-overlay-2">	                  
	               </div>
	               <div class="cat-bottom-box">
	                  <span class="cat-category">Dresses</span>
	                  <span class="cat-price">R6850.00</span>
	               </div>
	            </div>
	         </div>	
			</div>	
			{{/if}}
			{{#if culinary}}
			<div class="col-lg-4 col-md-6">	
				<div style="display: inline-block;">
	            <div class="category-block">
	               <span class="cat-title">Delicious Food</span>
	               <div class="cat-fav">
	                  <a href="#" {{action 'toggleFavourite' "culinary"}}>
	                  	{{#if culinary}}
							{{mdl-button icon="favorite"}}
						{{else}}
							{{mdl-button icon="favorite_border"}}
						{{/if}}
					  </a>
	               </div>
	               <div class="img-backdrop"  style="background-image: url('../assets/images/culinary-vendor.png');">
	               		<img src="../assets/images/sample-content/culinary.jpg" class="img-responsive guide-image">
	               </div>
	               <div class="cat-overlay-2">	                  
	               </div>
	               <div class="cat-bottom-box">
	                  <span class="cat-category">Culinary</span>
	                  <span class="cat-price">R2225.00</span>
	               </div>
	            </div>
	         </div>	
			</div>
			{{/if}}
          	{{#if venue}}
			<div class="col-lg-4 col-md-6">	
				<div style="display: inline-block;">
	            <div class="category-block">
	               <span class="cat-title">Stunning Venue</span>
	               <div class="cat-fav">
	                  <a href="#" {{action 'toggleFavourite' "venue"}}>
	                  	{{#if venue}}
							{{mdl-button icon="favorite"}}
						{{else}}
							{{mdl-button icon="favorite_border"}}
						{{/if}}
					  </a>
	               </div>
	               <div class="img-backdrop"  style="background-image: url('../assets/images/venue-vendor.png');">
	               		<img src="../assets/images/sample-content/venue.jpg" class="img-responsive guide-image">
	               </div>
	               <div class="cat-overlay-2">	                  
	               </div>
	               <div class="cat-bottom-box">
	                  <span class="cat-category">Venues</span>
	                  <span class="cat-price">R10240.00</span>
	               </div>
	            </div>
	         </div>	
			</div>
			{{/if}}
		</div>
	</div>
<div class="tour-image-backdrop tour-parallax tour-text-shadow" style="background-image: url('../assets/images/banners/wedding-table.jpg'); background-position: 50% 100%;">
	<div>
		<div class="container tour-block-padding">
			<h1>All the tools you need!</h1><br>
			<p>A countdown to happily ever after, a checklist with reminders, a customisable Budget Calculator for counting all your pennies<br>and a Guest List feature to keep track of those witnessing your “I do’s”. <br>With your  beautiful dashboard that shows the high-level detail, Bloom will give you peace of mind throughout your planning process.</p>
		    <div class="form-group" style="padding-top: 60px;">
				{{#link-to 'index.mywedding'}}{{mdl-button isRaised=true text='Wedding'}}{{/link-to}}
			</div><br>
		</div>
	</div>
</div>

	<div class="container tour-block-padding">
		<h1>Add Your Guests</h1>
		<p>Add guests here and they will appear in the table below</p>
		<div class="form-horizontal row text-center" style="padding-top: 20px;">
			<div class="form-group has-feedback">
				{{mdl-textfield label='Name & Surname*' value=name}}
			</div>
			<div class="form-group has-feedback">
				{{mdl-textfield label='Email Address' value=email}}
			</div>
			<div class="form-group has-feedback">
				{{mdl-textfield label='Contact Number' value=cell}}
			</div>
			<div class="form-group has-feedback">
				{{mdl-textfield label='Number of additional guests?' value=guestsValue type="number"}}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-3 col-sm-6">
				{{mdl-button isRaised=true text='Add Guest' action='addGuest' disabled=isNotValid}}
			</div>
		</div>
		<br><hr><br>
		<h1>Your Guest List</h1>
		<p>Another feature found in your Hub. Upload Guest details to Bloom and send Invites to your Guest list. Bloom will automatically track their responses.</p>
	    <div class="form-group">
			{{#link-to 'index.mywedding.guests'}}{{mdl-button isRaised=true text='Guest List'}}{{/link-to}}
		</div>
		<br>
	</div>

	<div class="" style=" padding:10px 20px 60px 20px">
		<h1>Your Guests</h1>
		<p>Click the X to remove or click the checkbox to confirm RSVP</p>
		<div class="showOnMobile container">
		    {{#each guestsA as |guest|}}
				<div class="pear-profile-card guide-xs-card" style="padding: 5px 8px 15px 5px;">
					<div class="row">
						<div class="col-xs-9">
							<div class="col-xs-offset-4 col-xs-8" style="text-align: left;"><h4><strong>Guest:</strong></h4></div>
						</div><div class="col-xs-3"></div>
						<div class="col-xs-3" style="text-align: right; height: 40px;">
							<a href='' {{action "destroyGuest" guest}}><i class="fa fa-times" aria-hidden="true"></i></a>
						</div>
					</div>

					<div class="row">

						<div class="col-xs-3">
							<i class="fa fa-user" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9" style="text-align: left;">{{guest.name}}</div>

						<div class="col-xs-3">
							<i class="fa fa-envelope-o" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9" style="text-align: left;">{{guest.email}}</div>

						<div class="col-xs-3">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9" style="text-align: left;">{{guest.cell}}</div>

						<div class="col-xs-3">
							<i class="fa fa-user-plus" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9" style="text-align: left;">Guests: {{guest.guests}}</div>

						<div class="col-xs-3">
							<i class="fa fa-ticket" aria-hidden="true"></i>
						</div>
						{{!-- <a href="#" {{action "checkBox" guest}}>
						  {{#if guest.attending}}
				            {{mdl-button icon="check_box"}}
				          {{else}}
				            {{mdl-button icon="check_box_outline_blank"}}
				          {{/if}}
				         </a> --}}
				         <div {{action "checkBox" guest}} class="tb-btn" style="text-align: left;">
						  {{#if guest.attending}}
				            {{mdl-button icon="check_box"}}
				          {{else}}
				            {{mdl-button icon="check_box_outline_blank"}}
				          {{/if}}
				         </div>
						{{!-- <div class="col-xs-9" style="text-align: left;">RSVP: 	<input type="checkbox" onclick={{action "checkBox" guest}}></div> --}}
						
					</div>
				</div>
			{{/each}}
		</div>


		<div class="guide-container hideOnMobile" style="padding:10px 20px 60px 20px">

		{{#mdl-table content=guestsA as |guest|}}
			{{#mdl-table-col label='Name'}}
				{{guest.name}}
			{{/mdl-table-col}}
			{{#mdl-table-col label='Contact'}}
				{{guest.email}}<br>{{guest.cell}}
			{{/mdl-table-col}}
			{{#mdl-table-col label="+1's"}}
				{{guest.guests}}
			{{/mdl-table-col}}
			{{#mdl-table-col label='RSVP'}}
        		<div {{action "checkBox" guest}} class="text-center tb-btn">
				  {{#if guest.attending}}
		            {{mdl-button icon="check_box"}}
		          {{else}}
		            {{mdl-button icon="check_box_outline_blank"}}
		          {{/if}}
		         </div>
				{{!-- <input type="checkbox" onclick={{action "checkBox" guest}}> --}}
			{{/mdl-table-col}}
			{{#mdl-table-col label='Delete'}}
				<div {{action "destroyGuest" guest}} class="text-center tb-btn">
		            {{mdl-button icon="delete"}}
		        </div>
			{{/mdl-table-col}}
		{{/mdl-table}}
			{{!-- <table class="table table-bordered table-striped" style="background-color:white;">
			    <thead style="text-align: center;">
			      <tr>
			          <th class="text-center">Name</th>
			          <th class="text-center">Contact</th>
			          <th class="text-center">+1's</th>
			          <th class="text-center">RSVP</th>
			          <th class="text-center">Delete</th>
			      </tr>
			    </thead>
			    <tbody>
			    {{#each guestsA as |guest|}}
			        <tr>
			            <td>{{guest.name}}</td>
			            <td>{{guest.email}}<br>{{guest.cell}}</td>
			            <td>{{guest.guests}}</td>            
			      		<td><input type="checkbox"></td>
			            <td><button class="btn btn-danger" {{action "destroyGuest" guest}}>X</button></td>
			        </tr>
			    {{/each}}

			    </tbody>
			</table> --}}
		</div>
	</div>

	<div class="" style=" padding:10px 20px 60px 20px">
		<h1>The Inner Circle!</h1>
		<p>Be it your ladies in waiting or your far flung loved ones, anyone you choose can share this experience with you.<br>Take the weight off your shoulders by assigning tasks and sharing your inspirations.</p>
	</div>

	<div class="tour-image-backdrop tour-parallax tour-text-shadow" style="background-image: url('../assets/images/banners/cheers.jpg'); background-position: 50% 100%;">
		<div class="">
			<div class="container" style="padding-top: 120px; padding-bottom: 120px;">
				<h1>Voilà!</h1>
				<p>So that’s our proposal and there you have it! With Bloom you will WOW when you take your vows. <br>Just say I do and Sign up here to take that one step closer to happily every after!</p><br>
				<div style="padding-top: 10px;">
					<div class="login-btns-padding">
						{{#link-to 'index'}}{{#mdl-button isRaised=true isAccent=true}} Hub <i class="fa fa-dashboard"></i> {{/mdl-button}}{{/link-to}}
					</div>
		    		<div class="login-btns-padding">
						{{#mdl-button isRaised=true action="showLogins"}} Sign Up <i class="fa fa-heart-o"></i> {{/mdl-button}}
					</div>
				</div>
			</div>
		</div>
	</div>

	
	{{partial 'partials/footer'}}
	{{notification-container position="bottom"}}
</div>