<div class="index-main" style="overflow-x: hidden;">
	{{!-- Main content of the site goes here  --}}
	{{!-- <div class="row pear-index-top {{if isBannerOpen 'opened-banner' 'closed-banner'}}">
		<div class="splash-overlay {{if isBannerOpen 'opened-banner' 'closed-banner'}}">
			<div class="col-sm-3">

			</div>
			<div id="index-center-page" class="col-sm-6 text-center index-logo-container" style="margin-top: 100px;">
				</div>
			<div class="col-sm-3 text-center hideOnMobile">
				<img src="../assets/images/bloom-bg5.png" class="pear-splash-hub img-responsive">
			</div>

		{{#if isTransitionHappening}}
		{{else}}
			<div class="fixed-button-arrows"  {{action "toggleOpenBanner"}}>
					{{#if isBannerOpen}}
						<i class="fa fa-3x fa-angle-double-up"></i>
					{{else}}
						<i class="fa fa-3x fa-angle-double-down"></i>
					{{/if}}
			</div>
		{{/if}}

		</div>
	</div> --}}

	{{#j-query.slider-component}}
    <div class="hub-slider-container">
      <div class="hub-slider">
        <div class="hub-slide-content hub-slide hub-slide-img1" {{action 'openListing' '-KkkEvZS7-7wUKMXXjLz'}}>
					<div class="hub-banner-overlay">
	          <div class="row" style="height: 100%;">
	            <div class="col-xs-2">
	              <!-- Nothing here -->
	            </div>
	            <div class="col-xs-8 text-center hub-vonve-logo-container">

	            </div>
	            <div class="col-xs-2 text-center">
	              <!-- Nothing here either -->
	            </div>
	          </div>
					</div>
        </div>
        <div class="hub-slide-content pear-slide hub-slide-img2" {{action 'openListing' '-Khau0B8Y81AoL98a5UF'}}>
					<div class="hub-banner-overlay">
	          <div class="hub-center-me text-center">
	            <h5 class="slide-h1">Rand Club</h5>
	            <div class="hub-font-stretch">
	              <h6 class="text-center slide-sub">A world class event venue</h6>
	            </div>
	          </div>
					</div>
        </div>
        <div class="hub-slide-content hub-slide hub-slide-img3" {{action 'openListing' '-KkkEvZS7-7wUKMXXjLz'}}>
					<div class="hub-banner-overlay">
						<div class="row" style="height: 100%;">
	            <div class="col-xs-2">
	              <!-- Nothing here -->
	            </div>
	            <div class="col-xs-8 text-center hub-vonve-logo-container">

	            </div>
	            <div class="col-xs-2 text-center">
	              <!-- Nothing here either -->
	            </div>
	          </div>
	        </div>
        </div>
      </div>
    </div>
  {{/j-query.slider-component}}


	<div class="pear-main-well">
		<ul class="nav nav-pills pear-main-pills unselectable" data-tabs="tabs">
			{{#if model.user.accountType}}
				{{#if model.user.specialAccount}}
					{{#link-to 'index.favourites' tagName="li" class="font-century" }}<a href="#" data-toggle="tab"><i class="fa fa-heart-o i-padding-1"></i><span class="hideOnMobile">&nbsp;&nbsp;Favourites</span></a>{{/link-to}}
					{{#link-to 'index.mywedding' tagName="li" class="font-century" }}<a href="#" data-toggle="tab"><i class="fa fa-diamond i-padding-2"></i><span class="hideOnMobile">&nbsp;&nbsp;Wedding</span></a>{{/link-to}}
				{{/if}}
			{{else}}
				{{#link-to 'index.favourites' tagName="li" class="font-century" }}<a href="#" data-toggle="tab"><i class="fa fa-heart-o i-padding-1"></i><span class="hideOnMobile">&nbsp;&nbsp;Favourites</span></a>{{/link-to}}
				{{#link-to 'index.mywedding' tagName="li" class="font-century" }}<a href="#" data-toggle="tab"><i class="fa fa-diamond i-padding-2"></i><span class="hideOnMobile">&nbsp;&nbsp;Wedding</span></a>{{/link-to}}
			{{/if}}
			{{#if model.user.accountType}}
				{{#link-to 'index.vendor' tagName="li" class="font-century" }}<a href="#" data-toggle="tab"><i class="fa fa-truck i-padding-3"></i><span class="hideOnMobile">&nbsp;&nbsp;Vendor</span></a>{{/link-to}}
			{{/if}}
		</ul>
	</div>

	{{outlet}} {{partial 'partials/footer'}}
</div>
