<div class="container index-main">
	<div class="header-top">
		<h1 class="font-times-header text-uppercase">Listings</h1>
		<hr class="style-two">
		<h3 class="font-times-subheader">Click the heart to favourite!</h3>
	</div>	
	<div class="text-center">
		{{!-- <btn class="btn btn-default" {{action 'logModels'}}>Log the models</btn> --}}
		{{#masonry-grid items=model isFitWidth=true columnWidth=360 storeMasonryRef="storeMasonryRef" gutter=8 as |cat-item|}}
			<div>
				<div class="category-block">
					<div class="cat-overlay-1">
						<h2>{{cat-item.name}}</h2>
					</div>
					{{#link-to 'single-item' cat-item.id tagname='div' class="text-center cat-img-container"}}
						{{#image-component loadedImg="loadedImg" src=cat-item.imageURL class="img-responsive cat-image"}}{{/image-component}}
					{{/link-to}}
					<div class="cat-overlay-2">
						{{#favourite-button cat-item.id session.currentUser.providerData.0.uid}}{{/favourite-button}}
					</div>
					
				</div>
			</div>
		{{/masonry-grid}} 		
	</div>



	<div class="row text-center showOnPhones">
	    {{#each model as |cat-item|}}
		<div class="col-lg-4 col-md-6">
			<div class="category-block-mobile">
				<div class="mobile-overlay-1">
					<h2>{{cat-item.name}}</h2>
				</div>
				{{#link-to 'single-item' cat-item.id tagname='div' class=" text-center cat-img-container"}}
					<img src="{{cat-item.imageURL}}" class="img-responsive mobile-image">
				{{/link-to}}
				<div class="mobile-overlay-2">
					<div class="mobile-button-container">	
						{{#favourite-button cat-item.id session.currentUser.providerData.0.uid}}{{/favourite-button}}
					</div>
				</div>
			</div>
		</div>
	    {{/each}}
	</div>
	<div style="text-align: center">
	    <button class="btn btn-default" {{action "prev"}}>Previous</button>
	    <button class="btn btn-default" {{action "next"}}>Next</button>
    </div>



</div>


