
<main id="panel">
         <div class="fullscreen" id="section1">
			  <div style="text-align:center;" id="s2-overlay1">
			    {{#if session.isAuthenticated}}					
			  		<h2 style="text-align:center; color:#fff">Logged in as {{session.currentUser.displayName}}</h2>
					<button class="btn btn-default clbutton-main" {{action "logout"}}>Sign out</button>
				{{else}}
					{{!-- <button {{action "login" "twitter"}}>Sign in with Twitter</button><br> --}}
			  		<h2 style="text-align:center; color:#fff">Sign in: </h2>
					<button class="btn btn-default clbutton-main" {{action "login" "facebook"}}>Using Facebook
					</button>
				{{/if}}
				
			  </div>
		  </div>
            <!-- Columns for the cheeseburger menu and search bar -->
            
            <!-- End of columns for top elements -->
            
      </main>