<div class="container text-center messaging-content">
	<h1 class="text-center">Message Supplier</h1>

	<div class="form-horizontal form-group form-group-lg row">
		<div class="col-md-offset-2 col-md-8">
			<div>
				<!-- Vendor Name -->
				<div class="input-group pear-max-width">
					{{input type="text" value=model.to class="form-control pear-input" placeholder="Vendor Name" disabled="true"}}
				</div>
				<br>

				<!-- Email Address -->
				<div class="input-group">
					<span class="input-group-addon">@</span> {{input type="email" value=model.from class="form-control" placeholder="Your e-mail address."}}
				</div>
				<br>

				<!-- Subject -->
				<div class="input-group pear-max-width">
					{{input type="text" value=model.subject class="form-control pear-input" placeholder="Subject"}}
				</div>

				<!-- <span class="glyphicon glyphicon-ok form-control-feedback email-tick"></span> -->
			</div>
			<br/>

			<!-- Message Body -->
			<div>
				<textarea class="form-control textarea-limited" rows="7" value={{model.html}}></textarea>
			</div>
			<br/>
			<div id="sendButtonContainer">
				<button class="btn btn-default btn-pear" id="messageFormSendButton" {{action "sendMessage"}}>Submit</button>
			</div>
		</div>
	</div>
	{{outlet}}
</div>
