<a id="menu-button" {{action 'toggleMenu'}}>
      <i id="menu-icon-o" class="fa fa-bars"></i>
      <i id="menu-icon-c" style="display:none" class="fa fa-close"></i>
  </a>
<nav id="navbar-g" class="navbar navbar-default navbar-fixed-top">
  
  <div id="nav-content" class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index'}}<a class="navbar-brand" href="#"><img src="assets/images/pear-blue.png"></a>{{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#nav-link-to 'index'}}HUB{{/nav-link-to}}
        {{#nav-link-to 'about'}}ABOUT{{/nav-link-to}}
        
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" {{action "navigateCat"}}>CATEGORIES <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            {{#nav-link-to 'category' 'culinary'}}Culinary{{/nav-link-to}}
            {{#nav-link-to 'category' 'decor'}}Decor{{/nav-link-to}}
            {{#nav-link-to 'category' 'dresses'}}Dresses{{/nav-link-to}}
            {{#nav-link-to 'category' 'entertainment'}}Entertainment{{/nav-link-to}}
            {{#nav-link-to 'category' 'flowers'}}Flowers{{/nav-link-to}}
            {{#nav-link-to 'category' 'gifts'}}Gifts &amp; Favours{{/nav-link-to}}
            {{#nav-link-to 'category' 'miscellaneous'}}Miscellaneous{{/nav-link-to}}
            {{#nav-link-to 'category' 'venues'}}Venues{{/nav-link-to}}
            {{#nav-link-to 'category' 'wedding-planners'}}Wedding Planners{{/nav-link-to}}
            <li role="separator" class="divider"></li>
            {{#nav-link-to 'listings'}}All Listings{{/nav-link-to}}
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{!-- {{#nav-link-to 'admin'}}Admin{{/nav-link-to}} --}}
        {{#nav-link-to 'myaccount'}}MY ACCOUNT{{/nav-link-to}}
        <li><a href="#" {{action 'logout'}}>LOGOUT</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="menu-overlay" style="display:none">
  <div id="menu-items">
  {{!-- TODO: IF THE USER IS ON LOG IN PAGE, DO NOT SHOW OPEN --}}
    {{#if session.isAuthenticated}}
    <ul>
      {{#link-to 'index'}}<h2>Hub</h2>{{/link-to}}
      {{#link-to 'about'}}<h2>About</h2>{{/link-to}}
      {{#link-to 'categories'}}<h2>Categories</h2>{{/link-to}}
      {{#link-to 'myaccount'}}<h2>Account</h2>{{/link-to}}
      <a {{action 'logout'}} href="#"><h2>Logout</h2></a>
    </ul>
    {{else}}
    <h1>You need to log in to continue</h1>
      {{#link-to 'login'}}
        <button class="clbutton-main">Log in</button>
      {{/link-to}}
    {{/if}}
  </div>
</div>