<a id="menu-button" {{action 'toggleMenu'}} class="{{if menuOpen 'displayBlock'}}">
      <i id="menu-icon-o">{{mdl-icon icon='menu'}}</i>
      <i id="menu-icon-c" style="display:none">{{mdl-icon icon='close'}}</i>
  </a>
<nav id="navbar-g" class="navbar navbar-default navbar-fixed-top">
  
  <div id="nav-content" class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index'}}<a class="navbar-brand" href="#"><img src="assets/images/bloom-logo-sm.png"></a>{{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#nav-link-to 'index'}}HUB{{/nav-link-to}}
        {{!-- {{#nav-link-to 'about'}}ABOUT{{/nav-link-to}} --}}
        
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" {{action "navigateCat"}}><i class="fa fa-plus-square"></i>&nbsp;CATEGORIES {{!-- <b class="caret"></b> --}}</a>
          <ul class="dropdown-menu" role="menu">
            {{#nav-link-to 'category' 'celebrants'}}Celebrants{{/nav-link-to}}
            {{#nav-link-to 'category' 'culinary'}}Culinary{{/nav-link-to}}
            {{#nav-link-to 'category' 'décor'}}Décor{{/nav-link-to}}
            {{#nav-link-to 'category' 'dresses'}}Dresses{{/nav-link-to}}
            {{#nav-link-to 'category' 'entertainment'}}Entertainment{{/nav-link-to}}
            {{#nav-link-to 'category' 'flowers'}}Flowers{{/nav-link-to}}
            {{#nav-link-to 'category' 'hire'}}For Hire{{/nav-link-to}}
            {{#nav-link-to 'category' 'hair&beauty'}}Hair &amp; Beauty {{/nav-link-to}}
            {{#nav-link-to 'category' 'honeymoon'}}Honeymoon{{/nav-link-to}}
            {{#nav-link-to 'category' 'jewellery'}}Jewellery{{/nav-link-to}}
            {{#nav-link-to 'category' 'legal'}}Legal{{/nav-link-to}}
            {{#nav-link-to 'category' 'mens-apparel'}}Men's Apparel{{/nav-link-to}}
            {{#nav-link-to 'category' 'miscellaneous'}}Miscellaneous{{/nav-link-to}}
            {{#nav-link-to 'category' 'photography'}}Photography{{/nav-link-to}}
            {{#nav-link-to 'category' 'registries'}}Registries{{/nav-link-to}}
            {{#nav-link-to 'category' 'stationery'}}Stationery{{/nav-link-to}}
            {{#nav-link-to 'category' 'venues'}}Venues{{/nav-link-to}}
            {{#nav-link-to 'category' 'wedding-planners'}}Wedding Planners{{/nav-link-to}}
            <li role="separator" class="divider"></li>
            {{#nav-link-to 'listings'}}All Listings{{/nav-link-to}}
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{!-- {{#nav-link-to 'admin'}}Admin{{/nav-link-to}} --}}
        {{#nav-link-to 'myaccount'}}<i class="fa fa-user"></i>&nbsp;MY ACCOUNT{{/nav-link-to}}
        <li class="nav-highlight"><a href="#" {{action 'logout'}}>LOG OUT</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="menu-overlay" style="display:none">
  <div id="menu-items" class="unselectable">
  {{!-- TODO: IF THE USER IS ON LOG IN PAGE, DO NOT SHOW OPEN --}}
    {{#if session.isAuthenticated}}
    <ul>
      {{#link-to 'index'}}<h2>HUB</h2>{{/link-to}}
      {{!-- {{#link-to 'about'}}<h2>ABOUT</h2>{{/link-to}} --}}
      {{#link-to 'categories'}}<h2>CATEGORIES</h2>{{/link-to}}
      {{#link-to 'myaccount'}}<h2>ACCOUNT</h2>{{/link-to}}
      <a {{action 'logout'}} href="#"><h2>LOG OUT</h2></a>
    </ul>
    {{else}}
    <h1>YOU NEED TO LOG IN TO CONTINUE</h1>
      {{#link-to 'login'}}
        <button class="clbutton-main">LOG IN</button>
      {{/link-to}}
    {{/if}}
  </div>
</div>