<a id="menu-button" {{action 'toggleMenu'}}>
      <i id="menu-icon-o" class="fa fa-bars"></i>
      <i id="menu-icon-c" style="display:none" class="fa fa-close"></i>
  </a>
<nav class="navbar navbar-default">
  
  <div id="nav-content" class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index'}}<a class="navbar-brand" href="#"><img src="assets/images/pearlogo-sm.png"></a>{{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#nav-link-to 'index'}}Home{{/nav-link-to}}
        {{#nav-link-to 'about'}}About{{/nav-link-to}}
        
        <li class="dropdown">{{#link-to 'categories'}}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Culinary</a></li>
            <li><a href="#">Decor</a></li>
            <li><a href="#">Dresses</a></li>
            <li><a href="#">Flowers</a></li>
            <li><a href="#">Venues</a></li>
            <li><a href="#">Wedding Planners</a></li>
            {{!-- <li role="separator" class="divider"></li> --}}
          </ul>
        {{/link-to}}</li>
            {{!-- <li><a href="#" {{action 'showId'}}>My Wedding</a></li> --}}
      </ul>
      {{!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> --}}
      <ul class="nav navbar-nav navbar-right">
        {{#nav-link-to 'myaccount'}}My Account{{/nav-link-to}}
        <li><a href="#" {{action 'logout'}}>Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="menu-overlay" style="display:none">
  <div id="menu-items">
  {{!-- TODO: IF THE USER IS ON LOG IN PAGE, DO NOT SHOW OPEN --}}
    {{#if session.isAuthenticated}}
    <ul>
      {{#link-to 'index'}}<h2>Home</h2>{{/link-to}}
      {{!-- {{#link-to 'about'}}<h2>About</h2>{{/link-to}} --}}
      {{#link-to 'categories'}}<h2>Categories</h2>{{/link-to}}
      {{#link-to 'myaccount'}}<h2>Account</h2>{{/link-to}}
      <a {{action 'logout'}} href="#"><h2>Logout</h2></a>
    </ul>
    {{else}}
    <h1>You need to log in to continue</h1>
      {{#link-to 'login'}}
        <button class="clbutton-main">Log in</button>
      {{/link-to}}
    {{/if}}
  </div>
</div>