<div class="index-main" id="single-item">
	<div class="container">
		<div class="header-top">
			<h1 class="font-times-header"><i class={{model.category.icon}}>{{model.category.iconName}}</i>{{model.category.name}}</h1>
			<p class="font-times-subheader">{{model.category.desc}}</p>
			<hr>
		</div><br>
		<div class="row text-center">
			<div class="col-lg-12 single-item-imageheader unselectable">
				<div class="single-img-container card-material guide-xs-card">
					<h4 class="single-item-title">{{model.name}}</h4>
					<img src={{model.imageURL}}>  {{!-- style="box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);" --}}
				</div>
			</div>
			<div class="col-lg-12" style="padding-bottom: 50px;">
				<div>
					<div class="col-md-6 col-md-offset-3">
						<h4 style="text-align: left; font-weight: 600;">Description</h4>
						{{#if model.desc}}
						<p style="text-align: left">{{model.desc}}</p>
						{{else}}
						No Description
						{{/if}}
						<br>

						<div class="row si-row">
							<div class="col-xs-6 si-left">
								{{#mdl-button disabled=true}}Price{{/mdl-button}}
							</div>
							<div class="col-xs-6 si-right">

								{{#if model.price}}
								{{#mdl-button}}R&nbsp;{{model.price}}{{/mdl-button}}
								{{else}}
								{{#mdl-button}}No Price information{{/mdl-button}}
								{{/if}}
							</div>
							<hr>
						</div>
						<div class="row si-row">
							<div class="col-xs-6 si-left">
								{{#mdl-button disabled=true}}Vendor{{/mdl-button}}
							</div>
							<div class="col-xs-6 si-right">
								<div class="hideOnMobile">
								{{#link-to 'vendor-profile' model.vendor.id}}{{#mdl-button}}{{model.vendor.name}}{{/mdl-button}}{{/link-to}}
								</div>


								<div class="showOnMobile" style="padding-right: 10px;">
								{{#link-to 'category' model.category.id}}{{mdl-button icon="description"}}{{/link-to}}
								</div>
							</div>
							<hr>
						</div>
						<div class="row si-row">
							<div class="col-xs-6 si-left">
								{{#mdl-button disabled=true}}Category{{/mdl-button}}
							</div>
							<div class="col-xs-6 si-right">

								<div class="hideOnMobile">
									{{#link-to 'category' model.category.id}}{{#mdl-button}}{{model.category.name}}{{/mdl-button}}{{/link-to}}
								</div>

								<div class="showOnMobile">
									{{#link-to 'category' model.category.id}}
										{{#if model.category.iconName}}
											<div style="padding-right: 10px;">
												{{mdl-button icon=model.category.iconName}}
											</div>
										{{else}}
											{{#mdl-button icon=""}}<i style="font-size: 24px;" class={{model.category.icon}}></i>{{/mdl-button}}
										{{/if}}
									{{/link-to}}
								</div>
							</div>
							<hr>
						</div>

						<div class="row si-row">
							<div class="col-xs-6 si-left">
								{{#mdl-button disabled=true}}Contact{{/mdl-button}}
							</div>
							<div class="col-xs-6 si-right">
								<div class="hideOnMobile">
									{{#mdl-button action='openContactModalInit'}}Send Message{{/mdl-button}}
								</div>

								<div class="showOnMobile" style="padding-right: 10px;">
									{{mdl-button action='openContactModalInit' icon="mail_outline"}}
								</div>
							</div>
							<hr>
						</div>

						<div class="row si-row">
							<div class="col-xs-6 si-left">
								{{#mdl-button disabled=true}}Favourite{{/mdl-button}}
							</div>
							<div class="col-xs-6 si-right">
								<div style="padding-right: 10px;">
									{{#favourite-button model.id session.currentUser.providerData.0.uid}}{{/favourite-button}}
								</div>
							</div>
							<hr>
						</div>
						{{!-- <table>
							<tbody>
								<tr>
									<td>
										<p>Price</p>
									</td>
									<td>
										{{#if model.price}}
										R&nbsp;{{model.price}}
										{{else}}
										No Price information
										{{/if}}
									</td>
								</tr>
								<hr>
								<tr>
									<td>
										<p>Vendor</p>
									</td>
									<td>								
										{{#link-to 'vendor-profile' model.vendor.id}}{{#mdl-button}}{{model.vendor.name}}{{/mdl-button}}{{/link-to}}
									</td>
								<hr>
								</tr>
								<tr>
									<td>
										<p>Category</p>
									</td>
									<td>								
										{{#link-to 'category' model.category.id}}{{#mdl-button}}{{model.category.name}}{{/mdl-button}}{{/link-to}}
									</td>
								</tr>
								<tr>
									<td>
										<p>Message Seller</p>
									</td>
									<td>
										{{#mdl-button action='openContactModalInit'}}Send Message{{/mdl-button}}
										{{!-- {{#link-to 'messaging' model.vendor.id}} --}}
											{{!-- <button class="btn btn-default btn-pear" {{action 'openContactModalInit'}}></button> --}}
										{{!-- {{/link-to}}
									</td>
								</tr>
								<tr>
									<td>
										<p>Favourite</p>
									</td>
									<td>
										{{#favourite-button model.id session.currentUser.providerData.0.uid}}{{/favourite-button}}
									</td>
								</tr>
							</tbody>
						</table> --}}
					</div>
				</div>

			</div>
		</div>
	</div>
		{{partial 'partials/footer'}}
		{{notification-container position="bottom"}}
</div>
