<div class="container index-main">
	<div class="row page-navigation">
		<div class="col-md-3">
			<button class="btn btn-default" {{action 'goBack'}} style="width: 100%">Back</button>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-lg-12 single-item-imageheader unselectable">
			<h1>{{model.name}}</h1>
			<div class="single-img-container">
				<img src={{model.imageURL}}>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="col-md-6">
				<h1>Description</h1>
				{{#if model.desc}}
				<p style="text-align: justify">{{model.desc}}</p>
				{{else}}
				No Description
				{{/if}}
			</div>
			<div class="col-md-6">
				<h1>More Info</h1>
				<table class="table">
					<tbody>
						<tr>
							<td>
								<p>Price</p>
							</td>
							<td>
								{{#if model.price}}
								R&nbsp;{{model.price}}
								{{else}}
								No Price information
								{{/if}}
							</td>
						</tr>
						<tr>
							<td>
								<p>Vendor</p>
							</td>
							<td>
								{{#link-to 'vendor-profile' model.vendor.id}}{{model.vendor.name}}{{/link-to}}
							</td>
						</tr>
						<tr>
							<td>
								<p>Category</p>
							</td>
							<td>
								{{#link-to 'category' model.category.id}}{{model.category.name}}{{/link-to}}
							</td>
						</tr>
						<tr>
							<td>
								<p>Message Seller</p>
							</td>
							<td>
								<a href="mailto:{{model.vendor.email}}" target="_top">Email</a>
							</td>
						</tr>
						<tr>
							<td>
								<p>Favourite</p>
							</td>
							<td>
								{{#favourite-button model.id session.currentUser.id}}{{/favourite-button}}
							</td>
						</tr>

					</tbody>
				</table>
			</div>
			
		</div>
	</div>
</div>