<div class="index-main" id="single-item">
	<div class="container">
		<div class="header-top">
			<h1 class="font-times-header"><i class={{model.category.icon}}>{{model.category.iconName}}</i>{{model.category.name}}</h1>
			<p class="font-times-subheader">{{model.category.desc}}</p>
			<hr>
		</div><br>
		<div class="row text-center">
			<div class="col-lg-12 single-item-imageheader unselectable">
				<div class="single-img-container card-material guide-xs-card">
					<h4 class="single-item-title">{{model.name}}</h4>

					<div style="z-index: 5">
						{{#if img0}}
			        {{#lazy-image url=model.imageURL}}{{mdl-spinner}}{{/lazy-image}}
		        {{else}}
		        	{{#if img1}}
		        		{{#lazy-image url=model.image0}}{{mdl-spinner}}{{/lazy-image}}
		        	{{else}}
			        	{{#if img2}}
			        		{{#lazy-image url=model.image1}}{{mdl-spinner}}{{/lazy-image}}
			        	{{else}}
				        	{{#if img3}}
				        		{{#lazy-image url=model.image2}}{{mdl-spinner}}{{/lazy-image}}
				        	{{else}}
				        		{{#if img4}}
				        			{{#lazy-image url=model.image3}}{{mdl-spinner}}{{/lazy-image}}
				        		{{else}}
				        			{{#if img5}}
				        				{{#lazy-image url=model.image4}}{{mdl-spinner}}{{/lazy-image}}
				        			{{/if}}
				        		{{/if}}
		        			{{/if}}
		        		{{/if}}
		        	{{/if}}
		        {{/if}}
	        </div>
				</div>
			</div>


			<div class="col-lg-12" style="padding-bottom: 50px;">
				<div style="padding-top: 20px;">
				<div style="text-align: center">
				{{#mdl-button isRaised=true isAccent=true action="imgPrev"}}Prev{{/mdl-button}}
				{{#mdl-button isRaised=true action="imgNext"}}Next{{/mdl-button}}
				</div>
					<div class="col-md-6 col-md-offset-3">
						<h4 style="text-align: left; font-weight: 600;">Description</h4>
						{{#if model.desc}}
						<p style="text-align: left">{{model.desc}}</p>
						{{else}}
						No Description
						{{/if}}
						<br>

						{{!-- <div class="row si-row">
							<div class="col-xs-6 si-left">
								{{#mdl-button disabled=true}}Price{{/mdl-button}}
							</div>
							<div class="col-xs-6 si-right">

								{{#if model.price}}
								{{#mdl-button action="priceClick"}}R&nbsp;{{model.price}}{{/mdl-button}}
								{{else}}
								{{#mdl-button action="priceClick"}}No Price information{{/mdl-button}}
								{{/if}}
							</div>
							<hr>
						</div> --}}
						<div class="row si-row">
							<div class="col-xs-6 si-left">
								{{#mdl-button disabled=true}}Contact Info{{/mdl-button}}
							</div>
							<div class="col-xs-6 si-right">
								<div class="hideOnMobile">
								{{#link-to 'vendor-profile' model.vendor.id}}{{#mdl-button}}{{model.vendor.name}}{{/mdl-button}}{{/link-to}}
								</div>


								<div class="showOnMobile" style="padding-right: 10px;">
								{{#link-to 'vendor-profile' model.vendor.id}}{{mdl-button icon="description"}}{{/link-to}}
								</div>
							</div>
							<hr>
						</div>
						<div class="row si-row">
							<div class="col-xs-6 si-left">
								{{#mdl-button disabled=true}}Category{{/mdl-button}}
							</div>
							<div class="col-xs-6 si-right">

								<div class="hideOnMobile">
									{{#link-to 'category' model.category.id}}{{#mdl-button}}{{model.category.name}}{{/mdl-button}}{{/link-to}}
								</div>

								<div class="showOnMobile">
									{{#link-to 'category' model.category.id}}
										{{#if model.category.iconName}}
											<div style="padding-right: 10px;">
												{{mdl-button icon=model.category.iconName}}
											</div>
										{{else}}
											{{#mdl-button icon=""}}<i style="font-size: 24px;" class={{model.category.icon}}></i>{{/mdl-button}}
										{{/if}}
									{{/link-to}}
								</div>
							</div>
							<hr>
						</div>

						<div class="row si-row">
							<div class="col-xs-6 si-left">
								{{#mdl-button disabled=true}}Contact{{/mdl-button}}
							</div>
							<div class="col-xs-6 si-right">
								<div class="hideOnMobile">
									{{#mdl-button action='openContactModalInit'}}Send Message{{/mdl-button}}
								</div>

								<div class="showOnMobile" style="padding-right: 10px;">
									{{mdl-button action='openContactModalInit' icon="mail_outline"}}
								</div>
							</div>
							<hr>
						</div>

						<div class="row si-row">
							<div class="col-xs-6 si-left">
								{{#mdl-button disabled=true}}Favourite{{/mdl-button}}
							</div>
							<div class="col-xs-6 si-right">
								<div style="padding-right: 10px;">
									{{#favourite-button model.id session.currentUser.providerData.0._uid}}{{/favourite-button}}
								</div>
							</div>
							<hr>
						</div>
						{{#if model.willingToTravel}}						
							{{#if model.maxTravelDist}} {{!-- YES --}}
		                		{{!-- DISPLAY PROVINCE HERE --}}
                        		<div class="row si-row">
									<div class="col-xs-6 si-left">
										{{#mdl-button disabled=true}}Location{{/mdl-button}}
									</div>
									<div class="col-xs-6 si-right">
										<div style="padding-right: 10px;">
					                        {{#if model.city}}
						                        {{model.city}}, {{model.provinceCode}}
						                     {{else}}
						                        {{model.province.name}}
						                     {{/if}}
										</div>
									</div>
									<hr>
								</div>
		                    {{/if}}
	                   		{{!--  DISPLAY PLANE SECTION HERE --}}  
	                   		<div class="row si-row">
								<div class="col-xs-6 si-left">
									{{#mdl-button disabled=true}}Location Info{{/mdl-button}}
								</div>
								<div class="col-xs-6 si-right">
									<div style="padding-right: 10px;">
										{{#if model.maxTravelDist}}
										<div class="cat-i-div">
					                        <i class="fa fa-plane cat-travel-i" aria-hidden="true"></i>&nbsp;&nbsp;
					                        {{tooltip-on-element side="left" text="Vendor is willing to travel"}}
					                    </div> 
					                    {{!-- If N/A do not show --}}
					                    {{model.maxTravelDist}} km
					                    {{else}}
										<div class="cat-i-div">
					                        <i class="fa fa-shopping-basket cat-travel-i" aria-hidden="true"></i>&nbsp;&nbsp;
					                        {{tooltip-on-element side="left" text="Online Business"}} Online
					                    </div> 
					                    {{/if}}
									</div>
								</div>
								<hr>
							</div>                      	
		                {{else}} {{!-- NO --}}
		                	{{!-- DISPLAY PROVINCE HERE --}}
		                	<div class="row si-row">
								<div class="col-xs-6 si-left">
									{{#mdl-button disabled=true}}Location{{/mdl-button}}
								</div>
								<div class="col-xs-6 si-right">
									<div style="padding-right: 10px;">
										{{model.province.name}}
									</div>
								</div>
								<hr>
							</div>		                	
		                {{/if}}
						{{!-- <table>
							<tbody>
								<tr>
									<td>
										<p>Price</p>
									</td>
									<td>
										{{#if model.price}}
										R&nbsp;{{model.price}}
										{{else}}
										No Price information
										{{/if}}
									</td>
								</tr>
								<hr>
								<tr>
									<td>
										<p>Vendor</p>
									</td>
									<td>								
										{{#link-to 'vendor-profile' model.vendor.id}}{{#mdl-button}}{{model.vendor.name}}{{/mdl-button}}{{/link-to}}
									</td>
								<hr>
								</tr>
								<tr>
									<td>
										<p>Category</p>
									</td>
									<td>								
										{{#link-to 'category' model.category.id}}{{#mdl-button}}{{model.category.name}}{{/mdl-button}}{{/link-to}}
									</td>
								</tr>
								<tr>
									<td>
										<p>Message Seller</p>
									</td>
									<td>
										{{#mdl-button action='openContactModalInit'}}Send Message{{/mdl-button}}
										{{!-- {{#link-to 'messaging' model.vendor.id}} --}}
											{{!-- <button class="btn btn-default btn-pear" {{action 'openContactModalInit'}}></button> --}}
										{{!-- {{/link-to}}
									</td>
								</tr>
								<tr>
									<td>
										<p>Favourite</p>
									</td>
									<td>
										{{#favourite-button model.id session.currentUser.providerData.0._uid}}{{/favourite-button}}
									</td>
								</tr>
							</tbody>
						</table> --}}
					</div>
				</div>

			</div>
		</div>
	</div>
		{{partial 'partials/footer'}}
		{{notification-container position="bottom"}}
</div>
