<div class="index-main" style="text-align:center; overflow-x: hidden;">

  	<div class="vendor-tour-top unselectable">
		<div class="overlay-dark">
		    <div class="container" style="padding-top: 50px; padding-bottom: 50px;">
				<img src='../assets/images/pear-splash-color.png'>
			</div>
		</div>
	</div>

	<div class="container" style="padding-top: 40px; padding-bottom: 20px;">
		<h1>Become Part of an Ecosystem</h1>
		<p style="font-size: 20px;">Along with the country's finest wedding suppliers.</p>
		<br><hr><br>
		<h1>How it Works</h1>
		<div class="row vendor-tour-works">
          <div class="col-sm-3 border-box">
            <i class="material-icons">dashboard</i>
            <p>Create your profile in no time with our easy to use app.</p>
          </div>

          <div class="col-sm-3 border-box">
            <i class="material-icons">search</i>
            <p>Couples are able to search for your services within the varied categories in our online directory.</p></div>

          <div class="col-sm-3 border-box">
            <i class="material-icons">favorite</i>
            <p>By having your listing Favourited, you’re then saved into their Wedding hub.</p></div>


          <div class="col-sm-3 border-box">
            <i class="material-icons">phone</i>
            <p>Couples are then able to directly connect with you. From here you will then follow through and manage your booking.</p></div>
        </div>
		{{!-- stuff --}}
		<p style="font-style: italic;">Take a look at some of our Categories and let your imagination go wild!</p><br>
	</div>

	<div class="container-fluid" style="padding-top: 50px;">
		{{#each model as |category|}}
		{{!-- {{#link-to 'category' category.id}} --}}
		<div class="col-sm-3 height-3 category-outer-square col-xs-4">
			<div class="category-square" style={{category.style}}>
				<i class={{category.icon}}>{{category.iconName}}</i>
				<p class="cat-heading">{{category.name}}</p>
			</div>
		</div>{{!-- {{/link-to}} --}}
		{{/each}}
		{{!-- {{#each model as |category|}}
		{{#link-to 'category' category.id}}
		<div class="col-lg-4 col-md-6">
			<div class="category-block-m">
				<div class="text-center cat-img-container-m">
					<img src="{{category.imageURL}}" class="img-responsive cat-image-m">
				</div>
				<div class="overlay-title"><h4>{{category.name}}</h4></div>
			</div>
		</div>{{/link-to}}
		{{/each}} --}}
	</div>

	<div class="form-group container" style="padding-top: 60px;">
		<div style="padding-top: 10px; padding-bottom: 60px;">
			{{#link-to 'categories'}}{{mdl-button isRaised=true text='Categories'}}{{/link-to}}
		</div>
		<hr>
		<div style="padding-top: 20px; padding-bottom: 80px;">
			<h1>Want to become a Vendor?</h1>
			<p style="font-size: 20px;">We’d love for you to join the Pear Vendor Team!</p>
			<p style="font-style: italic;">Simply click below and fill in the Vendor Sign Up form.</p>
			<p style="font-style: italic;">It’s that easy!</p>
			<div class="form-group" style="padding-top: 50px; padding-bottom: 50px;">
				{{#link-to 'vendor-signup'}}{{mdl-button isRaised=true text='Sign Up'}}{{/link-to}}
			</div><hr>
			<p><h1>Why Pair with Pear?</h1>Instead of paying a monthly rate with no guarantee, our payment structure is geared towards only being charged for the traffic you receive. This is monitored through favouriting, contact number requests and direct messaging.<br><br>Along with your bill, you would receive a monthly analytics report.<br><br>This valuable information provides insights into your profile, such as how to increase traffic to your listing along with so much more.<br><br>Inquiries are then sent directly to your inbox.<br><br>Without enquiries, contact number requests or favouriting, no costs will be added to you.<br><br>Our targeted marketing strategy helps you gain exposure to couples that are in the market for wedding vendors.</p>
		</div>
	</div>

	<div class="special-vendor-list" style="padding-top: 40px; padding-bottom: 60px;">
		<div class="container" style="padding-bottom: 100px">
			<h1>All Pear Vendors</h1>
		</div>
	</div>

	<div style="padding-top: 30px;">
		{{partial 'partials/footer'}}
    </div>
</div>