<div class="index-main">

	<div class="container" style="padding-top: 60px;">

		{{!-- <div class="card-material guide-xs-card text-center">
			<h1>{{model.name}}</h1>
			<hr class="style-two">
			<h3>Vendor Details:</h3><br>
			<h4>Description:</h4>{{model.desc}}
			<br>
			<h4>Email:</h4><a href="mailto:pear+{{model.email}}?cc=info@pear.life" target="_top">{{model.email}}</a>
			<br>
			<h4>Cellphone:</h4>{{model.cell}}
		</div><br>
 --}}
 		<div class="container-fluid" style="padding-bottom: 30px;">

            <div class=" col-sm-8">
                <div class="pear-profile-card guide-xs-card vendor-profile-block" style="z-index: 2;">
                	<div class="vendor-profile-bg" style="background-image: url({{if model.vendor.backgroundImage model.vendor.backgroundImage '../assets/images/sample-content/vendor-default.jpg' }});">
                		<div class="vendor-name-overlay">
                            <p>{{model.vendor.name}}</p>
                        </div>
                	</div>
                    <div class="overview-md-block">

                        <div class="text-center">
                            {{#if model.vendor.desc}}
	                            <p><b>DESCRIPTION</b>
	                            <br>{{model.vendor.desc}}</p>
                            {{else}}
	                            <p><b>NO DESCRIPTION</b></p>
                            {{/if}}
                        </div>
                    </div>

                </div>
            </div>

 			<div class=" col-sm-4">
                <div class="pear-profile-card guide-xs-card vendor-profile-block" style="z-index: 2;">

                    <div class="overview-md-block">

                    	{{#if model.vendor.brandImage}}
                    		<div style="text-align: center">
	                    		<img src={{model.vendor.brandImage}} class="midi-vendor-icon">
	                    	</div>
                    	{{else}}
                        	<h5>Vendor Information</h5>
                    	{{/if}}

                        <div style="padding-top: 10px;">
                            <div class="col-xs-2 overview-info"><i class="material-icons">mail_outline</i></div>
                            <div class="col-xs-10 overview-info">                            	
                            	{{#if contactInfoVisible}}
                            	<a href="mailto:pear+{{model.vendor.email}}?cc=info@pear.life" target="_top">{{model.vendor.email}}</a>
								{{else}}
                            		****
                            	{{/if}}
                            </div>
                            <div class="col-xs-2 overview-info"><i class="material-icons">call</i></div>
                            <div class="col-xs-10 overview-info">
                            	{{#if contactInfoVisible}}
                            		{{model.vendor.cell}}
                            	{{else}}
                            		****
                            	{{/if}}

                            </div>
                            <div class="col-xs-2 overview-info"><i class="material-icons">laptop</i></div>
                            <div class="col-xs-10 overview-info"><a href={{websiteUrl}} target="_blank">{{model.vendorStat.website}}</a></div>
                            <div class="col-xs-2 overview-info"><i class="material-icons">home</i></div>
                            <div class="col-xs-10 overview-info">{{model.vendor.city}}</div>
                            <div class="col-xs-2 overview-info"><i class="material-icons">place</i></div>
                            <div class="col-xs-10 overview-info">{{model.vendor.province.name}}</div>
                        </div>
                        <div class="overlay-box-bottom">
                            <div style="padding: 5px;">{{mdl-button action='showContactInfo' isRaised=true isAccent=true text="Show Contact Info"}}</div>
                            <div style="padding: 5px;">{{mdl-button action='openContactModalInit' isRaised=true text="Message Vendor"}}</div>
                       </div>
                    </div>

                </div>
            </div>

 		</div>

		<div class="container-fluid text-center hideOnPhones">
			<div id="masonry-items">
				{{#masonry-grid items=model.vendor.catItems isFitWidth=true columnWidth=360 storeMasonryRef="storeMasonryRef" gutter=8 as |cat-item|}}
		         <div>
		            <div class="category-block">
	               <span class="cat-title">{{cat-item.name}}</span>
	               <div class="cat-fav">
		                  {{#favourite-button cat-item.id currentUser.uid}}{{/favourite-button}}
		               </div>
		               <div  class="text-center cat-img-container" {{!-- style="background-image: url('../assets/images/dresses-vendor.png');" --}}>
		                  {{#link-to 'single-item' cat-item.id tagname='div'}}
		                  	{{#if cat-item.imageURL}}
		                        {{#image-component loadedImg="loadedImg" src=cat-item.imageURL class="img-responsive cat-image"}}{{/image-component}}
		                     {{else}}
		                        {{#image-component loadedImg="loadedImg" src="placeholder-square.png" class="img-responsive cat-image"}}{{/image-component}}
		                     {{/if}}
		                  {{/link-to}}
		               </div>
		               <div class="cat-overlay-2">
		                  
		               </div>
		               <div class="cat-bottom-box">
		                  <div class="cat-bot-box-l col-xs-6">
		                  {{#link-to 'category' cat-item.category.id class="cat-category" tagName="span"}}{{cat-item.category.name}}{{/link-to}}
		                  </div>

		                  <div class="cat-bot-box-r col-xs-6">
                        <div class="cat-location">
  		                  {{#if cat-item.willingToTravel}} 
  		                     {{#if cat-item.maxTravelDist}} {{!-- YES --}}
  		                        <div class="cat-i-div">
  		                           <i class="fa fa-plane cat-travel-i" aria-hidden="true"></i>&nbsp;&nbsp;
  		                           {{tooltip-on-element side="bottom" text="Vendor is willing to travel"}}
  		                        </div>
  		                        {{#if cat-item.city}}
  		                           {{cat-item.city}}, {{cat-item.provinceCode}}
  		                        {{else}}
  		                           {{cat-item.province.name}}
  		                        {{/if}}

  		                     {{else}} {{!-- ONLINE --}}
  		                        <div class="cat-i-div">
  		                           <i class="fa fa-shopping-basket cat-travel-i" aria-hidden="true"></i>&nbsp;&nbsp;
  		                           {{tooltip-on-element side="bottom" text="Online Business"}}
  		                        </div>
  		                     {{/if}} 
  		                  {{else}} {{!-- NO --}}
  		                     {{#if cat-item.city}}
                          {{cat-item.city}}, {{cat-item.provinceCode}}
                       {{else}}
                          {{cat-item.province.name}}
                       {{/if}}
  		                  {{/if}}
                        </div>
		                  </div>
		               </div>
		            </div>
		         </div>
		         {{/masonry-grid}} 
	         </div>

	         {{#if model.vendor.catItems}}
				<div id="loading-spinner">
					<br>
					  {{paper-progress-linear value=percentLoaded}}		
				</div>
			{{/if}}	
		</div>

		<div class="container-fluid text-center showOnPhones">
			{{#each model.vendor.catItems as |cat-item|}}
		         <div style="display: inline-block;">
		            <div class="category-block">
		               <span class="cat-title">{{cat-item.name}}</span>
		               <div class="cat-fav">
		                  {{#favourite-button cat-item.id currentUser.uid}}{{/favourite-button}}
		               </div>
		               {{#link-to 'single-item' cat-item.id tagname='div' class="text-center cat-img-container"}}
		               		<img src="{{cat-item.imageURL}}" class="img-responsive mobile-image">
		               {{/link-to}}
		               <div class="cat-overlay-2">
		                  
		               </div>
		               <div class="cat-bottom-box">
			               <div class="cat-bot-box-l col-xs-6">
			                  {{#link-to 'category' cat-item.category.id class="cat-category" tagName="span"}}{{cat-item.category.name}}{{/link-to}}
			                  </div>

			                  <div class="cat-bot-box-r col-xs-6">
                          <div class="cat-location">
  			                  {{#if cat-item.willingToTravel}} 
  			                     {{#if cat-item.maxTravelDist}} {{!-- YES --}}
  			                        <div class="cat-i-div">
  			                           <i class="fa fa-plane cat-travel-i" aria-hidden="true"></i>&nbsp;&nbsp;
  			                           {{tooltip-on-element side="bottom" text="Vendor is willing to travel"}}
  			                        </div>
  			                        {{#if cat-item.city}}
  			                           {{cat-item.city}}, {{cat-item.provinceCode}}
  			                        {{else}}
  			                           {{cat-item.province.name}}
  			                        {{/if}}

  			                     {{else}} {{!-- ONLINE --}}
  			                        <div class="cat-i-div">
  			                           <i class="fa fa-shopping-basket cat-travel-i" aria-hidden="true"></i>&nbsp;&nbsp;
  			                           {{tooltip-on-element side="bottom" text="Online Business"}}
  			                        </div>
  			                     {{/if}} 
  			                  {{else}} {{!-- NO --}}
  			                     {{#if cat-item.city}}
                          {{cat-item.city}}, {{cat-item.provinceCode}}
                       {{else}}
                          {{cat-item.province.name}}
                       {{/if}}
  			                  {{/if}}
                        </div>
		                  </div>
		               </div>
		            </div>
		         </div>
		      {{/each}}
		</div>
	</div>
</div>
{{partial 'partials/footer'}}