<div class="index-main" style="text-align:center; overflow-x: hidden;">

  	<div class="vendor-tour-top unselectable">
		<div class="overlay-dark">
		    <div class="container" style="height: 500px; padding-top: 80px; padding-bottom: 80px;">
				<img src='../assets/images/bloom-bg5.png'>
			</div>
		</div>
	</div>
	<div class="credits-bg hideOnMobile">
	    <span class="credits-sm">&copy; Photography by Maidenmoose</span>
	</div>

	<div class="container">
		<div style="padding-top: 80px; padding-bottom: 80px;">
		<h1>Become Part of an Ecosystem</h1>
		<p style="font-size: 20px;">Along with the country's finest wedding suppliers.</p>
		</div><hr>
		<div style="padding-top: 80px">
			<h1>How it Works</h1>
		</div>
		<div class="row vendor-tour-works" style="padding-bottom: 60px; padding-top: 20px;">
          <div class="col-sm-3 border-box">
            <i class="material-icons">dashboard</i>
            <p>Create your profile in no time with our easy to use app.</p>
          </div>

          <div class="col-sm-3 border-box">
            <i class="material-icons">search</i>
            <p>Couples are able to search for your services within the varied categories in our online directory.</p></div>

          <div class="col-sm-3 border-box">
            <i class="material-icons">favorite</i>
            <p>By having your listing Favourited, you’re then saved into their Wedding hub.</p></div>


          <div class="col-sm-3 border-box">
            <i class="material-icons">phone</i>
            <p>Couples are able to directly connect with you. From here you can follow up and manage your booking.</p></div>
        </div>
		{{!-- stuff --}}
		<hr>
	</div>


	

	<div class="form-group container" style="padding-top: 80px;">
		{{!-- <div style="padding-top: 10px; padding-bottom: 60px;">
			{{#link-to 'categories'}}{{mdl-button isRaised=true text='Categories'}}{{/link-to}}
		</div> --}}
		<div>
			<h1>We’d love you to join the Bloom Ecosystem.</h1>
			{{!-- <p style="font-size: 20px;">We’d love for you to join the Bloom Vendor Team!</p> --}}
			<p style="font-style: italic;">Simply click below and fill in the Vendor Sign Up form.</p>
			<p style="font-style: italic;">It’s that easy!</p>
			<div class="form-group" style="padding-top: 50px; padding-bottom: 80px;">
				{{#link-to 'vendor-signup'}}{{mdl-button isRaised=true text='Sign Up'}}{{/link-to}}
			</div><hr>
			<div style="padding-top: 80px">
				<h1>How is Bloom different?</h1>
			</div>


			<p>Instead of paying a monthly rate with no guarantee, our payment structure is geared towards only being charged for the traffic you receive.{{!--  This is monitored through favInstead of paying a monthly subscription with no guarantee, our payment structure is geared towards only being charged for the traffic and bookings you receive. --}} This is monitored through favouriting, contact requests and direct messaging. With a capped monthly spend you can manage your budget.{{!-- ouriting, contact number requests and direct messaging. --}}</p>
			<div class="form-group" style="padding-top: 50px; padding-bottom: 50px; text-align: center;">
				{{mdl-button isRaised=true text='View Rates'}}
			</div>		
	    	<div class="container pear-profile-card" style="padding: 20px; position: relative;">	
				<p style="text-align: left;">
				It is our priority to drive value to the vendor and the user.
				<br><br>No subscription fees and you can leave the platform at any time.
				<br><br>Inquiries are sent directly to your inbox.
				<br><br>Without enquiries, contact requests or favouriting, no costs will be added to you.
				<br><br>You will never pay more than your capped monthly spend and still receive the traffic as usual.
				<br><br>We aim to offer a fully transparent service that shows you the traffic you receive with itemized billing.
				<br><br>Along with your bill, you will receive a monthly analytics report.
				<br><br>This valuable information provides insights into your profile, such as how to increase traffic to your listing along with so much more.			
				<br><br>Our targeted marketing strategy helps you gain exposure to couples that are in the market for wedding vendors. As a digital business we put a huge focus on online marketing in order to drive maximum user traffic to our platform and ultimately your products and services.</p>
			</div>
			<div class="form-group" style="padding-top: 50px; padding-bottom: 80px;">
				{{#link-to 'vendor-signup'}}{{mdl-button isRaised=true text='Sign Up'}}{{/link-to}}
			</div><hr>
		</div>
	</div>

	<div style="padding-top: 80px;">
	<h1>Listings by Category</h1>
	<p style="font-style: italic;">Your visually inspired listing will be easy to find by users and with direct messaging it’s just so easy to get in touch.</p><br>
	<div class="container-fluid" style="padding-top: 80px; padding-bottom: 120px;">
		{{#each model as |category|}}
		{{!-- {{#link-to 'category' category.id}} --}}
		<div class="col-sm-3 height-3 category-outer-square col-xs-4">
			<div class="category-square" style={{category.style}}>
				<i class={{category.icon}}>{{category.iconName}}</i>
				<p class="cat-heading">{{category.name}}</p>
			</div>
		</div>{{!-- {{/link-to}} --}}
		{{/each}}
	</div>
	</div>

	<div class="special-vendor-list" style="padding-top: 40px; padding-bottom: 60px;">
		<div class="container" style="padding-bottom: 100px">
			<h1>All Bloom Vendors</h1>
		</div>
	</div>

	<div style="padding-top: 30px;">
		{{partial 'partials/footer'}}
    </div>
</div>