<div class="index-main" style="padding-top:60px">
	<div class="container">
		<h1 class="font-times-header">Sign Up</h1><br>
		<hr>

		<div class="container text-center">

		    <div class="row">
		        <div class="form-horizontal form-padding-bottom" style="padding-top: 20px;">
			        <div class="pear-profile-card card-sm">
			    	{{#if section1}}
			        	<div class="header-bg-block">
			        		<h4>Account Set-Up</h4>
			        	</div>
			        	<div class="vendor-signup-inner">
				            <i class="fa fa-book i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Vendor Account Name*' value=name}}<br>
				            <i class="fa fa-asterisk i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Password*' value=password type="password"}}<br>
				            <i class="fa fa-asterisk i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Confirm Password*' value=passwordConfirm type="password"}}<br>
				            <i class="fa fa-envelope-o i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Email Address*' value=email}}<br>
				            <i class="fa fa-phone i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Contact number' value=cell}}<br>

						    <div style="padding: 20px 0 40px 0;">
							    {{#link-to 'index'}}{{#mdl-button isRaised=true isAccent=true}}Cancel{{/mdl-button}}{{/link-to}}
						        {{#mdl-button isRaised=true action="nextSection"}}Next{{/mdl-button}}
						    </div>
				        </div>
				    {{else}}

				    	{{#if section2}}
				        	<div class="header-bg-block">
				        		<h4>Vendor Details</h4>
				        	</div>
				        	<div class="vendor-signup-inner">
					            <i class="fa fa-child i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Representative Name' value=rep}}<br>
					            <i class="fa fa-newspaper-o i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Company Description' value=desc}}<br>
					            <i class="fa fa-briefcase i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='VAT Number (if applicable)' value=vatNum}}<br>
					            <i class="fa fa-laptop i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Website' value=website}}<br>
					            <i class="fa fa-terminal i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Custom URL' value=customID}}<br>

							    <div style="padding: 20px 0 40px 0;">
							        {{#mdl-button isRaised=true isAccent=true action="prevSection"}}Back{{/mdl-button}}
							        {{#mdl-button isRaised=true action="nextSection"}}Next{{/mdl-button}}
							    </div>
					    	</div>
				    	{{else}}
				    		{{#if section3}}
				        	<div class="header-bg-block">
					        	<h4>Location Information</h4>
				        	</div>
				        	<div class="vendor-signup-inner">

					            <i class="fa fa-address-card i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Physical Address' value=addressL1}}<br>
					            <i class="fa fa-home i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='City' value=city}}<br>
					            <i class="fa fa-map-o i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Postal Code' value=postalcode}}<br>
					            <i class="fa fa-globe i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Country' value="South Africa" disabled=true}}<br>
					            <i class="fa fa-map-marker i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{#paper-select placeholder="Province" model=province}}
								  {{#each model as |state|}}
								    {{#paper-option value=state.name}}
								      {{state.name}}
								    {{/paper-option}}
								  {{/each}}
								{{/paper-select}}
							    <div style="padding: 20px 0 40px 0;">
							        {{#mdl-button isRaised=true isAccent=true action="prevSection"}}Back{{/mdl-button}}
							        {{#mdl-button isRaised=true action="nextSection"}}Next{{/mdl-button}}
							    </div>
							</div>
							{{else}}
				        	<div class="header-bg-block">
					        	<h4>Survey</h4>
				        	</div>
				        	<div class="vendor-signup-inner text-left">

					            <strong>How many drugs do you do?</strong><br><br>
					            <div {{action "checkBox"}} class="tb-btn">
	                              {{#if checked}}
	                                {{mdl-button icon="check_box"}}
	                              {{else}}
	                                {{mdl-button icon="check_box_outline_blank"}}
	                              {{/if}} All of them
	                            </div>
	                            <hr>	                            
					            <strong>Where to deport to?</strong><br><br>
					            <div {{action "checkBox1"}} class="tb-btn">
	                              {{#if checked1}}
	                                {{mdl-button icon="check_box"}}
	                              {{else}}
	                                {{mdl-button icon="check_box_outline_blank"}}
	                              {{/if}} China
	                            </div><div {{action "checkBox1"}} class="tb-btn">
	                              {{#if checked2}}
	                                {{mdl-button icon="check_box"}}
	                              {{else}}
	                                {{mdl-button icon="check_box_outline_blank"}}
	                              {{/if}} Mexico
	                            </div>
							    <div style="padding: 20px 0 40px 0;">
							        {{#mdl-button isRaised=true isAccent=true action="prevSection"}}Back{{/mdl-button}}
							        {{#mdl-button isRaised=true action="signBtn" disabled=notChecked}}Sign Up{{/mdl-button}}
							    </div>
							</div>


							{{/if}}
				    	{{/if}}
				    {{/if}}
				    {{paper-progress-linear value=percentLoaded}}				
			        </div>
		        </div>
		    </div>	
		</div>
	</div>
		{{partial 'partials/footer'}}
  	{{notification-container position="bottom"}}
</div>


					{{!-- UNSURE OF WTF TO DO HERE TBH vvv --}}
			        {{!-- <i class="fa fa-home i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;   
			        {{#paper-select placeholder="Province" model=country}}
						{{#each model.country.provinces as |cat|}}
						    {{#paper-option value=cat.id}}
						      {{cat.name}}
						    {{/paper-option}}
						{{/each}}
					{{/paper-select}}<br> --}}
					{{!-- UNSURE OF WTF TO DO HERE TBH ^^^ --}}