<div class="index-main" style="text-align:center; overflow-x: hidden;">

  	<div class="vendor-tour-top unselectable">
		<div class="overlay-dark">
		    <div class="container" style="height: 500px; padding-top: 80px; padding-bottom: 80px;">
				<img src='../assets/images/bloom-bg5.png'>
			</div>
		</div>
	</div>
	<div class="credits-bg hideOnMobile">
	    <span class="credits-sm">&copy; Photography by Maidenmoose</span>
	</div>

	<div class="container">
		<div style="padding-top: 80px; padding-bottom: 80px;">
		<h1>Become Part of an Ecosystem</h1>
		<p style="font-size: 20px;">Along with the country's finest wedding suppliers.</p>
		</div><hr>
		<div style="padding-top: 80px">
			<h1>How it Works</h1>
		</div>
		<div class="row vendor-tour-works" style="padding-bottom: 60px; padding-top: 20px;">
          <div class="col-sm-3 border-box">
            <i class="material-icons">dashboard</i>
            <p>Create your profile in no time with our easy to use app.</p>
          </div>

          <div class="col-sm-3 border-box">
            <i class="material-icons">search</i>
            <p>Couples are able to search for your services within the varied categories in our online directory.</p></div>

          <div class="col-sm-3 border-box">
            <i class="material-icons">favorite</i>
            <p>By having your listing Favourited, you’re then saved into their Wedding hub.</p></div>


          <div class="col-sm-3 border-box">
            <i class="material-icons">phone</i>
            <p>Couples are able to directly connect with you. From here you can follow up and manage your booking.</p></div>
        </div>
		{{!-- stuff --}}
		<hr>
	</div>




	<div class="form-group container" style="padding-top: 80px;">
		{{!-- <div style="padding-top: 10px; padding-bottom: 60px;">
			{{#link-to 'categories'}}{{mdl-button isRaised=true text='Categories'}}{{/link-to}}
		</div> --}}
		<div>
			<h1>We’d love you to join the Bloom Ecosystem.</h1>
			{{!-- <p style="font-size: 20px;">We’d love for you to join the Bloom Vendor Team!</p> --}}
			{{!-- <p style="font-style: italic;">Simply click below and fill in the Vendor Sign Up form.</p>
			<p style="font-style: italic;">It’s that easy!</p> --}}
			<p style="font-style: italic;">Follow the instructions below to get started!</p>
			{{!-- TO FIX VISUAL BUG, ANIMATE=FALSE IN #panels.panel etc --}}
			{{#cp-panels accordion=true as |panels|}}
			  {{#panels.panel as |panel|}}
			    {{#panel.toggle}}
			      <p><i class="material-icons">account_circle</i>&nbsp;&nbsp;Sign Up</p>
			    {{/panel.toggle}}
			    {{#panel.body}}
			      <div>
			        <h5>Signing up for Bloom is as easy as it gets!</h5>
			        <p>Simply follow the link below to sign up:<br>
					{{#link-to 'vendor-signup'}}Vendor Signup Form{{/link-to}}<br>
					When you have filled in your details and clicked sign up, you will be prompted to log in via social media.</p>
			        <br>
					    {{#cp-panels class='u-margin-bottom' accordion=true as |ps|}}
					      {{#ps.panel as |p|}}
					        {{#p.toggle}}
					          <p><i class="material-icons">mood</i>&nbsp;&nbsp;How Bloom's Accounts Work</p>
					        {{/p.toggle}}
					        {{#p.body}}
					          <img class="text-center" style="max-width: 100%; height: auto;" src="../assets/images/sample-content/ven-account.jpg">
					        {{/p.body}}
					      {{/ps.panel}}
					    {{/cp-panels}}
					<br>
					{{!-- <p><span style="font-style: italic;">But i just created my account, why must I sign in with social media?</span><br>
					Do not worry, this is for your own security and convenience<br>
					You will have a vendor account and a user account set up for you<br>
					Nobody else will know which two accounts are linked. At any given time, your privacy is safe!<br>
					If you want to remove/delete your vendor account, your Bloom user account will still be alive<br>
					If you have a colleague that you would like to help manage listings, it's as simple as getting them to log into your vendor account<br>
					This will ensure that you don't have to share your personal account with them<br>
					Having a dual account adds an extra level of security for you to keep your information safe and secure</p> --}}
			      </div>
			    {{/panel.body}}
			  {{/panels.panel}}

			  {{#panels.panel as |panel|}}
			    {{#panel.toggle}}
			      <p><i class="material-icons">picture_in_picture</i>&nbsp;&nbsp;Add Your Branding</p>
			    {{/panel.toggle}}
			    {{#panel.body}}
			      <div>
			        <h5>Your listings are branded for you</h5>
			        <p>Help users identify your brand quickly and grow your name faster!<br>
			        Simply upload your branding to Bloom and we will help display it beautifully<br>
			        This will be found in your vendor hub under the branding tab<br>
			        Once your account has been created, this will be found at:<br>
			        {{#link-to 'index.vendor'}}bloomweddings.co.za/vendor{{/link-to}}</p>
			        <br>
					    {{#cp-panels class='u-margin-bottom' accordion=true as |ps|}}
					      {{#ps.panel as |p|}}
					        {{#p.toggle}}
					          <p><i class="material-icons">aspect_ratio</i>&nbsp;&nbsp;Bloom's Drag-and-Drop Interface</p>
					        {{/p.toggle}}
					        {{#p.body}}
					        	<p>It's as easy as dragging your images into the box. Bloom will handle the rest.<br>
					        	Just ensure that your image follows our guidelines for best results!</p>
					          <img class="text-center" style="max-width: 100%; height: auto;" src="../assets/images/sample-content/ven-branding.jpg">
					        {{/p.body}}
					      {{/ps.panel}}
					    {{/cp-panels}}
					<br>
			        <p><span style="font-style: italic;">Your Primary Logo</span><br>
    				Upload your logo to Bloom and help users identify you easier, this will overlay on your listings when users hover over them<br><br>
			        <span style="font-style: italic;">Your Splash Image</span><br>
    				When a user visits your vendor profile, this splash image will be the first thing they notice<br>
    				A vibrant image that won't let them forget you is what we recommend</p>
			      </div>
			    {{/panel.body}}

			  {{/panels.panel}}

			  {{#panels.panel as |panel|}}
			    {{#panel.toggle}}
			      <p><i class="material-icons">call</i>&nbsp;&nbsp;Check Contact Details</p>
			    {{/panel.toggle}}
			    {{#panel.body}}
			      <div>
			        <h5>Make sure users find you</h5>
			        <p>Head over to your vendor hub and then to the profile tab<br>
			        Here you will be able to double check and update all your profile information and contact details<br>
			        Once your account has been created, this will be found at:<br>
			        {{#link-to 'index.vendor.profile'}}bloomweddings.co.za/vendor/profile{{/link-to}}</p>
			        <br>
					    {{#cp-panels class='u-margin-bottom' accordion=true as |ps|}}
					      {{#ps.panel as |p|}}
					        {{#p.toggle}}
					          <p><i class="material-icons">portrait</i>&nbsp;&nbsp;How does my profile look?</p>
					        {{/p.toggle}}
					        {{#p.body}}
					          <img class="text-center" style="max-width: 100%; height: auto;" src="../assets/images/sample-content/ven-profile.jpg">
					        {{/p.body}}
					      {{/ps.panel}}
					    {{/cp-panels}}
					<br>
			        <p><span style="font-style: italic;">Your information transforms your listing</span><br>
			        That's right! Users will see a dynamically generated listing based on some of the information you enter<br>
			        So ensure that everything is correct to improve your listings once they are up</p>
			      </div>
			    {{/panel.body}}

			  {{/panels.panel}}


			  {{#panels.panel as |panel|}}
			    {{#panel.toggle}}
			      <p><i class="material-icons">dashboard</i>&nbsp;&nbsp;Publish a Listing</p>
			    {{/panel.toggle}}
			    {{#panel.body}}
			      <div>
			        <h5>Get your name out there!</h5>
			        <p>Now is your time to shine, head to your vendor hub and hit the ADD SERVICE button to get started quickly<br>
			        Bloom will try its best to fill in most of the data for you based on what you entered previously<br>
			        You just need to proofread and upload some images to set your listing apart</p>
			        <br>
					    {{#cp-panels class='u-margin-bottom' accordion=true as |ps|}}
					      {{#ps.panel as |p|}}
					        {{#p.toggle}}
					          <p><i class="material-icons">view_headline</i>&nbsp;&nbsp;Your Vendor Listings</p>
					        {{/p.toggle}}
					        {{#p.body}}
					          <img class="text-center" style="max-width: 100%; height: auto;" src="../assets/images/sample-content/ven-listings.jpg">
					        {{/p.body}}
					      {{/ps.panel}}
					    {{/cp-panels}}
					<br>
			        <p><span style="font-style: italic;">Some Extra Hints:</span><br>
			        You can have more than one listing, but duplicate listings are not allowed<br>
			        Please feel free to post up to 8 listings showing the different facets of your business<br>
			        This limit can be extended by contacting us once you reach your limit</p>
			      </div>
			    {{/panel.body}}

			  {{/panels.panel}}
			{{/cp-panels}}

			<div class="form-group" style="padding-top: 50px; padding-bottom: 50px;">
				<p>I know what to do, sign me up already!</p>
				{{#link-to 'vendor-signup'}}{{mdl-button isRaised=true text='Sign Up'}}{{/link-to}}
			</div>
			<div class="form-group" style="padding-bottom: 80px;">
				{{#if phoneNumVisible}}
					<p><strong>Call us:</strong></p>
					<p><a href="tel:+27 79 953 4406">+27 79 953 4406</a></p>
				{{else}}
					<p>Having Trouble signing up? Give us a call</p>
					{{mdl-button icon="local_phone" isRaised=true action="revealPhoneNumber"}}
				{{/if}}
			</div>
			<hr>
			<div style="padding-top: 80px">
				<h1>How's Bloom unique?</h1>
			</div>


  		<div class="row vendor-tour-works" style="padding-top: 20px;">
        <div class="col-sm-4 border-box">
          <i class="material-icons">lightbulb_outline</i>
          <h4>User Insight</h4>
          <p>
            Pay for nothing until you receive REAL value in the form of listing visits, website clicks, contact clicks, TRAFFIC and direct messages.
            The direct message is a mechanism to extend the conversation quicker by including important wedding details.
          </p>
        </div>

        <div class="col-sm-4 border-box">
          <i class="material-icons">trending_up</i>
          <h4>No Traffic?</h4>
          <p>
            No traffic, no pay. Your listing continues to be exposed to as much traffic as possible.
          </p>
        </div>

        <div class="col-sm-4 border-box">
          <i class="material-icons">whatshot</i>
          <h4>Handle the Heat</h4>
          <p>
            We will never charge you more than your capped monthly spend.
            This way the charges stop and the traffic keeps flowing. Select your category to reveal your monthly capped amount.
          </p>
        </div>

      </div>

      {{!-- <p>
        You only pay for the value you receive – a direct message from a user. That direct message will contain contact details as well as high level details about the wedding (size and taste of wedding).<br /><br />If you don’t get traffic, you don’t pay a cent.<br /><br />You will not become a victim of your own success, we’ll never charge you more than R1500 (or 75 direct messages). You will however continue to receive messages, we just won’t charge you for those.
      </p> --}}


			{{!-- <p>Instead of paying a monthly rate with no guarantee, our payment structure is geared towards only being charged for the traffic you receive. This is monitored through favouriting, direct messaging and vendor listing visits.</p>
			<div class="form-group" style="padding-top: 50px; padding-bottom: 50px; text-align: center;">
				<a href='../assets/docs/Bloom-rates-2017.pdf' download>{{mdl-button isRaised=true text='View Rates'}}</a>
				<p style="font-style: italic; padding-top: 5px;">Free until 1st July 2017!</p>
			</div>
	    	<div class="container pear-profile-card" style="padding: 20px; position: relative;">
  				<p style="text-align: left;">
  				It is our priority to drive value to the vendor and the user.
  				<br><br>No subscription fees and you can leave the platform at any time.
  				<br><br>Inquiries are sent directly to your inbox.
  				<br><br>Without enquiries, favouriting or vendor listing visits no costs will be added to you
  				<br><br>You will never pay more than your capped monthly spend and still receive the traffic as usual.
  				<br><br>We aim to offer a fully transparent service that shows you the traffic you receive with itemized billing.
  				<br><br>Along with your bill, you will receive a monthly analytics report.
  				<br><br>This valuable information provides insights into your profile, such as how to increase traffic to your listing along with so much more.
  				<br><br>Our targeted marketing strategy helps you gain exposure to couples that are in the market for wedding vendors. As a digital business we put a huge focus on online marketing in order to drive maximum user traffic to our platform and ultimately your products and services.</p>
  			</div> --}}
			<div class="form-group" style="padding-top: 50px; padding-bottom: 80px;">
  			<a href='../assets/docs/Bloom-rates-10-2017.pdf' download>{{mdl-button isRaised=true isAccent=true text='View Rates'}}</a><br /><br />
				{{#link-to 'vendor-signup'}}{{mdl-button isRaised=true text='Sign Up'}}{{/link-to}}
			</div><hr>
		</div>
	</div>

  <div class="container">
    <h1>Clean, clear and inspiring</h1>

    <p style="font-style: italic;">Eye catching listings in a unique and user-friendly environment</p><br />

    <div class="text-center hideOnPhones">
      <div id="masonry-items">
             {{#masonry-grid items=model.catItem isFitWidth=true columnWidth=360 storeMasonryRef="storeMasonryRef" gutter=8 as |cat-item|}}
             <div>
                <div class="category-block">
                 <span class="cat-title">{{cat-item.name}}</span>
                 <div class="cat-fav">
     							      {{mdl-button icon="favorite_border"}}
                   </div>
                   <div  class="text-center cat-img-container">
                     <div>
                        <div class="img-backdrop-m"  style="background-image: url({{cat-item.vendor.brandImage}});">
                          {{#image-component loadedImg="loadedImg" src=cat-item.imageURL class="img-responsive cat-image"}}{{/image-component}}
                        </div>

                     </div>
                   </div>
                   <div class="cat-bottom-box">
                      <div class="cat-bot-box-l col-xs-6">
  		                  <span class="cat-category">{{cat-item.category.name}}</span>
                    </div>

                      <div class="cat-bot-box-r col-xs-6">
                        <div class="cat-location">
                        {{#if cat-item.willingToTravel}}
                           {{#if cat-item.maxTravelDist}} {{!-- YES --}}
                              <div class="cat-i-div">
                                 <i class="fa fa-plane cat-travel-i" aria-hidden="true"></i>&nbsp;&nbsp;
                                 {{tooltip-on-element side="bottom" text="Vendor is willing to travel"}}
                              </div>
                              {{#if cat-item.city}}
                                 {{cat-item.city}}, {{cat-item.provinceCode}}
                              {{else}}
                                 {{cat-item.province.name}}
                              {{/if}}

                           {{else}} {{!-- ONLINE --}}
                              <div class="cat-i-div">
                                 <i class="fa fa-shopping-basket cat-travel-i" aria-hidden="true"></i>&nbsp;&nbsp;
                                 {{tooltip-on-element side="bottom" text="Online Business"}}
                              </div>
                           {{/if}}
                        {{else}} {{!-- NO --}}
                           {{#if cat-item.city}}
                          {{cat-item.city}}, {{cat-item.provinceCode}}
                       {{else}}
                          {{cat-item.province.name}}
                       {{/if}}
                        {{/if}}
                        </div>
                      </div>
                   </div>
                </div>
             </div>
             {{/masonry-grid}}
          </div>

      {{#if model.catItem}}
      <div id="loading-spinner">
        <br>
          {{paper-progress-linear value=percentLoaded}}
      </div>
      {{/if}}
    </div>
    <div class="container-fluid text-center showOnPhones">
        {{#each model.catItem as |cat-item|}}
           <div style="display: inline-block;">
              <div class="category-block">
                 <span class="cat-title">{{cat-item.name}}</span>
                 <div class="cat-fav">
     							      {{mdl-button icon="favorite_border"}}
                 </div>
                 <div class="text-center cat-img-container">
                    <img src="{{cat-item.imageURL}}" class="img-responsive mobile-image">
                 </div>
                 <div class="cat-overlay-2">

                 </div>
                 <div class="cat-bottom-box">
                    <div class="cat-bot-box-l col-xs-6">
                      <span class="cat-category">{{cat-item.category.name}}</span>
                      </div>

                      <div class="cat-bot-box-r col-xs-6">
                        <div class="cat-location">
                        {{#if cat-item.willingToTravel}}
                               {{#if cat-item.maxTravelDist}} {{!-- YES --}}
                              <div class="cat-i-div">
                                 <i class="fa fa-plane cat-travel-i" aria-hidden="true"></i>&nbsp;&nbsp;
                                 {{tooltip-on-element side="bottom" text="Vendor is willing to travel"}}
                              </div>
                              {{#if cat-item.city}}
                                 {{cat-item.city}}, {{cat-item.provinceCode}}
                              {{else}}
                                 {{cat-item.province.name}}
                              {{/if}}

                           {{else}} {{!-- ONLINE --}}
                              <div class="cat-i-div">
                                 <i class="fa fa-shopping-basket cat-travel-i" aria-hidden="true"></i>&nbsp;&nbsp;
                                 {{tooltip-on-element side="bottom" text="Online Business"}}
                              </div>
                            {{/if}}
                        {{else}} {{!-- NO --}}
                           {{#if cat-item.city}}
                          {{cat-item.city}}, {{cat-item.provinceCode}}
                       {{else}}
                          {{cat-item.province.name}}
                       {{/if}}
                        {{/if}}
                      </div>
                    </div>
                 </div>
              </div>
           </div>
        {{/each}}
     </div>
     <br /><br /><hr />
  </div>

	<div style="padding-top: 80px;">
	<h1>Listings by Category</h1>
	<p style="font-style: italic;">Your visually inspired listing will be easy to find by users and with direct messaging it’s just so easy to get in touch.</p><br>
	<div class="container-fluid" style="padding-top: 80px; padding-bottom: 120px;">
		{{#each model.category as |category|}}
		{{!-- {{#link-to 'category' category.id}} --}}
		<div class="col-sm-3 height-3 category-outer-square col-xs-4">
			<div class="category-square" style={{category.style}}>
				<i class={{category.icon}}>{{category.iconName}}</i>
				<p class="cat-heading">{{category.name}}</p>
			</div>
		</div>{{!-- {{/link-to}} --}}
		{{/each}}
	</div>
	</div>
	<div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 credits-bg-mid">
			    <span class="credits-sm">
					Cakes: Susan du Toit Photography --
					Décor &amp; Styling: Lightburst Photography --
					Dresses: Rensche Mari Photography --
					Entertainment: Maidenmoose Photography - White Lilly Bridal --
					Flowers: Ian Odendaal --
					Legal: Page &amp; Holmes Photography --
					Stationery: Lightburst Photography --
					Wedding Planners: Luke Tannous
				</span>
			</div>
		</div>
	</div>

	<div class="special-vendor-list" style="padding-top: 40px;">
		<div class="container" style="padding-bottom: 100px">
			<h1>Top Bloom Vendors</h1>
      <img src="../assets/images/vendor-logos/jj.png" class="image-responsive vendor-list-img" />
      <img src="../assets/images/vendor-logos/mbl.png" class="image-responsive vendor-list-img" />
      <img src="../assets/images/vendor-logos/vonve.png" class="image-responsive vendor-list-img" />
      <img src="../assets/images/vendor-logos/annapepper.png" class="image-responsive vendor-list-img" />
      <img src="../assets/images/vendor-logos/nooit.png" class="image-responsive vendor-list-img" />
      <img src="../assets/images/vendor-logos/wf.png" class="image-responsive vendor-list-img" />
      <img src="../assets/images/vendor-logos/db.png" class="image-responsive vendor-list-img" />
      <img src="../assets/images/vendor-logos/ap.png" class="image-responsive vendor-list-img" />
      <img src="../assets/images/vendor-logos/bh.png" class="image-responsive vendor-list-img" />
		</div>
	</div>

	<div style="padding-top: 30px;">
		{{partial 'partials/footer'}}
    </div>
</div>
