<div class="index-main" style="padding-top:60px">
	<div class="container">
		<h1 class="font-times-header">Sign Up</h1><br>
		<p style="font-style: italic; text-align: center;">Welcome to Pear's Vendor System, please follow the steps to create your account below.</p>
		<hr>

		<div class="text-center">

		    <div class="row">
		        <div style="padding-top: 20px; padding-bottom: 40px;">
			        <div class="pear-profile-card card-sm">
			    	{{#if section1}}
			        	<div class="header-bg-block">
			        		<h4>Account Set-Up</h4>
			        	</div>
			        	<div class="vendor-signup-inner">
				            <i class="fa fa-book i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Vendor Account Name*' value=name}}<br>
				            <i class="fa fa-asterisk i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Password*' value=password type="password"}}<br>
				            <i class="fa fa-asterisk i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Confirm Password*' value=passwordConfirm type="password"}}<br>
				            <i class="fa fa-envelope-o i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Email Address*' value=email}}<br>
				            <i class="fa fa-phone i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Contact number' value=cell}}<br>

						    <div style="padding: 20px 0 40px 0;">
							    {{#link-to 'index'}}{{#mdl-button isRaised=true isAccent=true}}Cancel{{/mdl-button}}{{/link-to}}
						        {{#mdl-button isRaised=true action="nextSection"}}Next{{/mdl-button}}
						    </div>
				        </div>
				    {{else}}

				    	{{#if section2}}
				        	<div class="header-bg-block">
				        		<h4>Vendor Details</h4>
				        	</div>
				        	<div class="vendor-signup-inner">
					            <i class="fa fa-child i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Representative Name' value=rep}}<br>
					            <i class="fa fa-newspaper-o i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Company Description' value=desc}}<br>
					            <i class="fa fa-briefcase i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='VAT Number (if applicable)' value=vatNum}}<br>
					            <i class="fa fa-laptop i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Website' value=website}}<br>
					            <i class="fa fa-terminal i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Custom URL' value=customID}}<br>

							    <div style="padding: 20px 0 40px 0;">
							        {{#mdl-button isRaised=true isAccent=true action="prevSection"}}Back{{/mdl-button}}
							        {{#mdl-button isRaised=true action="nextSection"}}Next{{/mdl-button}}
							    </div>
					    	</div>
				    	{{else}}
				    		{{#if section3}}
				        	<div class="header-bg-block">
					        	<h4>Location Information</h4>
				        	</div>
				        	<div class="vendor-signup-inner">

					            <i class="fa fa-address-card i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Physical Address' value=addressL1}}<br>
					            <i class="fa fa-home i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='City' value=city}}<br>
					            <i class="fa fa-map-o i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Postal Code' value=postalcode}}<br>
					            <i class="fa fa-globe i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Country' value="South Africa" disabled=true}}<br>
					            <i class="fa fa-map-marker i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{#paper-select placeholder="Province" model=selectedProvince}}
								  {{#each province as |state|}}
								    {{#paper-option value=state.name}}
								      {{state.name}}
								    {{/paper-option}}
								  {{/each}}
								{{/paper-select}}
							    <div style="padding: 20px 0 40px 0;">
							        {{#mdl-button isRaised=true isAccent=true action="prevSection"}}Back{{/mdl-button}}
							        {{#mdl-button isRaised=true action="nextSection"}}Next{{/mdl-button}}
							    </div>
							</div>
							{{else}}
				        	<div class="header-bg-block">
					        	<h4>Survey</h4>
				        	</div>
				        	<div class="vendor-signup-inner text-left">

					            <strong>Are you willing to travel?</strong><br>
					            <div>
									{{#paper-radio value="1" selected=willingToTravel}}Yes{{/paper-radio}}
									{{#paper-radio value="2" selected=willingToTravel}}No{{/paper-radio}}
									{{#paper-radio value="3" selected=willingToTravel}}N/A{{/paper-radio}}
	                            </div>
	                            {{#if willTravel}}
	                            <div><strong>Maximum Distance:</strong><br><br>
	                            	<div layout style="cursor: pointer;">
								      <div flex="10" layout layout-align="center center">
								        <span>Km:</span>
								      </div>
								      {{paper-slider flex=true discrete=true value=maxDist step='1' min='1' max='1000'}}
								    </div>
									{{!-- <i class="fa fa-plane i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='Maximum Distance' value=maxDist}} --}}
	                            </div>
	                            {{/if}}
	                            <hr>	                            
					            <strong>Which categories does your business associate with?</strong><br><br>
					            {{#each categoryItems as |cat|}}
						            <div {{action "selectCat" cat}} class="tb-btn">
		                              {{#if cat.isChecked}}
		                                {{mdl-button icon="check_box"}}
		                              {{else}}
		                                {{mdl-button icon="check_box_outline_blank"}}
		                              {{/if}} {{cat.name}}
		                            </div>
	                            {{/each}}
	                            <div>
									<i class="fa fa-info-circle i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;{{mdl-textfield label='More Information' value=descCat}}
	                            </div><hr>

					            <strong>Mailing Preferences</strong><br><br>
					            <div {{action "checkBox" "MA"}} class="tb-btn">
	                              {{#if checkedMA}}
	                                {{mdl-button icon="check_box"}}
	                              {{else}}
	                                {{mdl-button icon="check_box_outline_blank"}}
	                              {{/if}} Would you like a monthly analytics report?
	                            </div><div {{action "checkBox" "MN"}} class="tb-btn">
	                              {{#if checkedMN}}
	                                {{mdl-button icon="check_box"}}
	                              {{else}}
	                                {{mdl-button icon="check_box_outline_blank"}}
	                              {{/if}} Interested in monthly newsletter?
	                            </div><hr>

					            <strong>Would you be interested in contributing to our social media and website inspiration posts?</strong><br>
					            <div>
									{{#paper-radio value="1" selected=willingToContribute}}Yes{{/paper-radio}}
									{{#paper-radio value="2" selected=willingToContribute}}No{{/paper-radio}}
	                            </div>
							    <div style="padding: 20px 0 40px 0;">
							        {{#mdl-button isRaised=true isAccent=true action="prevSection"}}Back{{/mdl-button}}
							        {{#mdl-button isRaised=true action="fieldDisabled"}}Sign Up{{/mdl-button}}
							    </div>
							</div>


							{{/if}}
				    	{{/if}}
				    {{/if}}
				    {{paper-progress-linear value=percentLoaded}}				
			        </div>
		        </div>
		    </div>	
		</div>
	</div>
		{{partial 'partials/footer'}}
  	{{notification-container position="bottom"}}
</div>


					{{!-- UNSURE OF WTF TO DO HERE TBH vvv --}}
			        {{!-- <i class="fa fa-home i-lbl" aria-hidden="true"></i>&nbsp;&nbsp;   
			        {{#paper-select placeholder="Province" model=country}}
						{{#each model.country.provinces as |cat|}}
						    {{#paper-option value=cat.id}}
						      {{cat.name}}
						    {{/paper-option}}
						{{/each}}
					{{/paper-select}}<br> --}}
					{{!-- UNSURE OF WTF TO DO HERE TBH ^^^ --}}