<div class="text-center container">
	<h1 class="font-times-header" style="color: #4C4C4E;">My Stats</h1><br>
	<hr>
</div>
   {{!-- {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}} --}}

<div style="padding-bottom:60px;">
	{{!-- <div class="text-center">
		<h1 class="font-times-header">MY STATS</h1>
		<p class="font-times-subheader">Don’t worry about whipping out the tape measure whenever you’re trying stuff on. Your crucial sizes will all be here at the ready.</p>
	</div><hr> --}}
	{{#if model.user.hasGender}}
	<div class="row">
		<div class="col-sm-6 hideOnMobile" style="text-align: right;">
			{{#if model.user.isFemale}}
			<img src="../assets/images/x-02.png" style="height:470px; padding-top: 40px; width:auto">
			{{else}}
			<img src="../assets/images/x-01.png" style="height:530px; padding-top: 40px; width:auto">
			{{/if}}
		</div>
		<div class="col-sm-6" style="padding-top:42px;">
			<div class="col-sm-8">
				{{mdl-textfield label='Height' value=model.userstat.height}}
				{{!-- {{input type="text" value=model.userstat.height class="form-control sm-txt" placeholder="Height"}} --}}
			</div>
			{{#if model.user.isFemale}}

			{{else}}
				<div class="col-sm-8">
					{{mdl-textfield label='Shoulders' value=model.userstat.shoulders}}
					{{!-- {{input type="text" value=model.userstat.shoulders class="form-control sm-txt" placeholder="Shoulders"}} --}}
				</div>
			{{/if}}
			<div class="col-sm-8">
				{{mdl-textfield label='Chest' value=model.userstat.chest}}
				{{!-- {{input type="text" value=model.userstat.chest class="form-control sm-txt" placeholder="Chest"}} --}}
			</div>
			<div class="col-sm-8">
				{{mdl-textfield label='Waist' value=model.userstat.waist}}
				{{!-- {{input type="text" value=model.userstat.waist class="form-control sm-txt" placeholder="Waist"}} --}}
			</div>
			<div class="col-sm-8">
				{{mdl-textfield label='Hips' value=model.userstat.hips}}
				{{!-- {{input type="text" value=model.userstat.hips class="form-control sm-txt" placeholder="Hips"}} --}}
			</div>
			<div class="col-sm-8">
				{{mdl-textfield label='Inseam' value=model.userstat.inseam}}
				{{!-- {{input type="text" value=model.userstat.inseam class="form-control sm-txt" placeholder="Inseam"}} --}}
			</div>
			<div class="col-sm-8">
				{{mdl-textfield label='Shoe Size' value=model.userstat.shoesize}}
				{{!-- {{input type="text" value=model.userstat.shoesize class="form-control sm-txt" placeholder="Shoe Size"}} --}}
			</div>

	        {{#if responseMessage}}
		      <div class="col-sm-8 alert alert-success text-center" {{action 'closeMessage'}}>{{responseMessage}}
		      <p class="tiny-text text-center">Tap this message to close it</p></div>
		    {{/if}}

				{{!-- <div class="col-sm-offset-4 col-sm-4"> --}}
					{{!-- <button class="btn btn-success" style="width:100%" {{action 'updateStats'}}>Update</button> --}}
				{{!-- </div> --}}
		</div>
	</div>
	<div style="text-align: center; padding-top: 40px;">
		{{mdl-button isRaised=true text='UPDATE' action="updateStats"}}
	</div>
	{{else}}
		{{partial 'index/favourites/selectgender'}}
	{{/if}}
</div>